[2016-07-12 12:00] DavidBruant opened #6 "Deactivate the extension"
Matching https://trello.com/c/pKEZu8Nz/23-deactivate-buttons-ext

[2016-07-12 12:08] DavidBruant opened #7 "Add a smart content script to matching pages"
Currently the injected script only displays static HTML.

A content script need to be built ahead of time. On matching pages, this script displays the loader and listens to messages from the extension code. When alternatives are received, it displays the alternative.

This scripts makes the React components interactive. React components will then live in the content script and not in the extension

[2016-07-12 12:12] DavidBruant opened #8 "Split Alternatives into smaller components"
For the purpose of #6, for now, let's just split into `AlternativeHeader` and `AlternativeMain`. It'll at least be a start. `AlternativeHeader` will be interactive.

[2016-07-12 12:13] DavidBruant opened #9 "Consider using immutable data"
I see usages of `_.clones`. Having an immutable state would remove the need and performance issue of these.

[2016-07-12 12:15] DavidBruant opened #10 "Remove closed tabs from state.matchingTabs"
From what I can see, they are still there while they shouldn't be. It's possible Chrome reuses tabId (or at least we cannot assume they don't), so we should be cleaning our state to reflect this.

[2016-07-12 12:17] DavidBruant opened #11 "Make "Réduire" button functional"
It currently isn't because of #7.

[2016-07-12 13:00] DavidBruant opened #12 "Consider ditching cross-builder"
Right now, it's not really adding any value.

In the future, given Firefox is moving to WebExtensions, it's likely building a Firefox extension will only be a different build step. It is possible though unlikely that Chrome or Firefox-specific code to be necessary. It seems that a build step can take care of that without needing cross-builder.

[2016-07-12 13:13] DavidBruant opened #13 "Consider using Sass"
Or Scss to be accurate http://sass-lang.com/

[2016-07-13 09:56] DavidBruant opened #14 "Use chrome.tabs.onUpdated.addListener to watch URLs"
This issue is the result of discussions with @nsteenv.

Currently, all HTTP requests are being listened. From what I understand, it's based on µBlock and wrapped with vAPI.
This approach catches every single HTTP request (AJAX, images, etc.) and tries to match with pages/products that have an alternative. This is a lot of work given the only important URL changes are the one in the URL bar.

Anoth

[2016-07-14 08:44] DavidBruant opened #16 "Commenting transform: 'react-transform-hmr' in webpack/dev.config.js triggers an error in Editor/SeeCurrentOffers.js"
Investigating #15 I came across this error:

[code]

No clue on why this would happen.

Note from https://github.com/gaearon/react-transform-hmr :

I'm on the side of ditching `react-transform-hmr` altogether as I don't feel confident I know the underlying technologies well enough.
I'm also not sure at all about what the effects of these are in the context of a Chrome extension background or conte

[2016-07-14 13:48] DavidBruant opened #17 "lint as git pre-commit hook"
https://github.com/observing/pre-commit

[2016-07-15 12:08] #7 closed, assigned to nobody

[2016-07-18 08:32] DavidBruant opened #19 "Regression: iframes shows up on page before the matching one"
https://github.com/insitu-project/proto-ext/pull/15#discussion_r71104538
This is related to catching HTTP requests which happen on beforeunload of the previous page

[2016-07-18 09:48] DavidBruant opened #21 "Automated test to prevent regressions like #19"
#19

[2016-07-18 17:00] #19 closed, assigned to nobody

[2016-07-19 08:47] #8 closed, assigned to nobody

[2016-07-19 08:47] #11 closed, assigned to nobody

[2016-07-19 12:30] #16 closed, assigned to nobody

[2016-07-20 15:17] DavidBruant opened #26 "Tab management refactoring"
Write a single component that manages tabs :
- decides when to execute a content script in a tab
- handles the communication with the content script

This should solve #10 and #14 along the way.

[2016-07-21 00:13] #21 closed, assigned to nobody

[2016-07-26 09:17] DavidBruant opened #29 "Configure babel with stage-3 instead of stage-0"
stage-0 is highly experimental https://babeljs.io/docs/plugins/#stage-x-experimental-presets

Making the change might break a few things but feels worth it.

[2016-07-26 10:37] #6 closed, assigned to nobody

[2016-07-26 10:37] #13 closed, assigned to bmenant

[2016-07-26 10:43] bmenant opened #30 "Analytics regression with refactoring #27"
Track again those actions:

[code]

[2016-07-26 15:20] DavidBruant opened #31 "Preference panel"
https://trello.com/c/8g1QM9IO/24-preferences-about-ext then https://trello.com/c/neLH6ZYU/32-preferences-deactivate-ext

[2016-07-27 07:48] DavidBruant opened #32 "Clean up HTML and CSS"
Currently, `AlternativeMain` is below `AlternativeHeader` only thanks to the magic of `.wrapperframe` which adds a `margin-top: 3.75rem`.

[2016-07-27 11:00] DavidBruant opened #33 "z-index-war.css"
I've seen that the CSS has random z-index values.

https://twitter.com/ryanflorence/status/456512425102028800

This could be a reasonable solution. Defining a sass variable file instead could work too.

[2016-07-27 14:12] #26 closed, assigned to nobody

[2016-07-27 14:13] #10 closed, assigned to nobody

[2016-07-27 14:13] #14 closed, assigned to nobody

[2016-08-02 12:24] DavidBruant opened #36 "Private reco preview"
After discussion with @bmenant & @narfai, we decided of the following changes to the extension for recommandation previews:
- [x] The extension watches for http://lmem-craft-backend.cleverapps.io/admin/?action=list&entity=Recommendation (or equivalent urls of back-end recommandation list)
- [x] The extension fetches data from dedicated endpoint
- [x] When matching a page for a draft recommandation

[2016-08-02 13:30] #17 closed, assigned to nobody

[2016-08-02 14:20] bmenant opened #37 "Load, compile and inject SASS through Webpack"
See https://github.com/insitu-project/proto-ext/blob/master/webpack/base.config.js#L41 and https://github.com/insitu-project/proto-ext/blob/cc2b86c2d96c2c975b241dea9d2bf19b6abb4a35/src/browser/extension/background/index.js#L13-L25

[2016-08-03 09:28] DavidBruant opened #39 "Write unit tests"
Tests that can run from Node/mocha. This would cover tests that test mostly data transformation:
- [x] Find where the initial state value is defined in https://github.com/insitu-project/proto-ext/tree/master/src/app/store
- [x] https://github.com/insitu-project/proto-ext/blob/master/src/app/lmem/reduxPersistTransform.js
- [x] Extract and test https://github.com/insitu-project/proto-ext/blob/cc2b86

[2016-08-03 12:29] DavidBruant opened #40 "Rename Alternative* components to Recommendation*"
I now better understand the lmem glossary.

[2016-08-04 10:14] bmenant opened #43 "Remove unused permissions from manifest"
[code]

I’m pretty sure a few of them aren’t required anymore (like webRequest*)

[2016-08-04 10:19] bmenant opened #44 "Tidy up Content Security Policies"
Pretty sure a lot of those could be simplified (extract from a built manifest):

[code]

[2016-08-08 09:37] bmenant opened #45 "Fix iframe’s style to catch up legacy’s ones"
![iframe-legacy-styles](https://cloud.githubusercontent.com/assets/756887/17475659/55a7c51e-5d5c-11e6-9a52-21001bece0e1.png)

Basically, we’re missing the followings ([check out this legacy code extract](https://github.com/insitu-project/browser-addons-commons/blob/master/app/shared/ui/ui.coffee#L7-L21)):
- Borders.
- Box-shadow.
- Transitions.
- And maybe raising `z-index` to its maximal value (`

[2016-08-08 10:55] bmenant opened #46 "Enhance analytic events to handle specific cases"
There’re still few 414 errors with Heap.
- [x] Refactor [trackEvents](https://github.com/insitu-project/proto-ext/blob/master/src/app/events/trackEvents.js) and [trackSpecificEvents](https://github.com/insitu-project/proto-ext/blob/master/src/app/events/trackSpecificEvents.js)
- [x] Decrease [`MAX_PAYLOAD_SIZE`](https://github.com/insitu-project/proto-ext/blob/master/src/app/events/trackEvents.js#

[2016-08-08 15:26] bmenant opened #47 "Delay extension appearance"
As discussed beforehand, delaying the extension’s appearance gives users an opportunity to notice the extension has something is worth looking at.

~~After a few adjustments, we ended up with the following, starting on page `load`:~~

~~1. Await 1 second before displaying the extension (loading screen).~~
~~2. Await 5 (1 + 4) seconds before answering (showing results).~~

![loadingchart](https://c

[2016-08-14 20:56] DavidBruant opened #49 "Add dependency injection for the heap library"
https://github.com/insitu-project/proto-ext/blob/master/src/app/actions/heap.js depends on the existence of `window.heap`.
The `heap` library should probably be injected dynamically to this file, it'd help with testing.
See https://github.com/insitu-project/proto-ext/blob/5b5d843a18658e85645c72be5e845273f8e95ce8/src/app/content/actions/ui.js#L7 for an example.

[2016-08-17 12:44] DavidBruant opened #50 "makeInitialState.js should create the state with the correct structure and document it"

[2016-08-17 13:57] DavidBruant opened #51 "Consider babel-plugin-uglify"
https://www.npmjs.com/package/babel-plugin-uglify

Maybe this will remove the need for a [conditional load](https://github.com/insitu-project/proto-ext/pull/48/commits/429a5d58872e76d968a88a077614bea390e73859#diff-7c5f058d43692a3d49293a539c23dd4dR6)

[2016-08-17 13:59] DavidBruant opened #52 "Consider rollup.js"
This would be less a problem if using [rollup](http://rollupjs.org) and if dependencies used ES6.

Use lodash-es instead of lodash along the way for instance.

[2016-08-18 15:49] DavidBruant opened #53 "Environment Dev/Testing/Stable"
https://trello.com/c/orCCbGIG/39-environment-dev-testing-stable-ext-back
## Where we are today

`npm run build:extension` builds the production version.
`npm start` builds the dev version.

They trigger the webpack with configs `extension.config.js` and `dev.config.js` resp. Currently, these differ in three main ways:
- The build directory is not the same (`./build/extension` vs `./dev`)
- `extens

[2016-08-18 15:51] DavidBruant opened #54 "Git flow"
https://trello.com/c/orCCbGIG/39-environment-dev-testing-stable-ext-back suggests:

[code]

Maybe. Let's synchronize our watches when we want to do this.

[2016-08-18 16:20] DavidBruant opened #55 "Load Recommendations on demand"
https://trello.com/c/BH4eXJw4/56-load-recommendations-on-demand-back-ext

[2016-08-22 17:31] DavidBruant opened #56 "State is not propagated to existing content script in tabs"
https://github.com/insitu-project/proto-ext/pull/34#issuecomment-241358719

This is because when a site is deactivated, this information is not propagated to content scripts in "old" tabs. It wouldn't be a crazy amount of work, but it doesn't seem to be crucial at this point.

[2016-08-23 09:16] DavidBruant opened #57 "Improve style of recommandation preview"
https://github.com/insitu-project/proto-ext/pull/38#issuecomment-241354338

[2016-09-01 15:53] bmenant opened #60 "Case insensitive regex text with matchingContexts"
See https://trello.com/c/7c18tyvS/58-case-insensitive-regex-text-with-matchingcontexts-ext

[2016-09-02 08:16] #60 closed, assigned to bmenant

[2016-09-07 09:59] #32 closed, assigned to nobody

[2016-09-14 10:23] bmenant opened #63 "Heap loader should observe envs and use respective app keys"
See https://github.com/insitu-project/proto-ext/pull/58#issuecomment-245609315

[2016-09-14 10:25] #29 closed, assigned to nobody

[2016-09-14 10:25] #43 closed, assigned to nobody

[2016-09-14 10:25] #44 closed, assigned to nobody

[2016-09-14 16:58] #54 closed, assigned to nobody

[2016-09-18 17:52] #53 closed, assigned to nobody

[2016-09-18 17:53] #31 closed, assigned to nobody

[2016-09-22 15:29] #45 closed, assigned to nobody

[2016-09-30 07:01] #36 closed, assigned to nobody

[2016-09-30 13:20] #63 closed, assigned to nobody

[2016-10-05 14:34] bmenant opened #73 "Heap analytics “payload too long”"
The issue is _well known_ https://github.com/insitu-project/proto-ext/blob/develop/src/app/events/trackEvents.js

We’ll have to find out a more reliable implementation, since many requests actually exceed that limit.

Potential related issues: #46 and #49

[2016-10-05 14:51] #73 closed, assigned to nobody

[2016-10-06 15:23] mikaelletang opened #74 "use "resource" instead of "source""
Once https://github.com/insitu-project/kraft-backend/pull/52 is merged

[2016-10-07 07:05] bmenant opened #75 "Integration test broken"
`integrationTest()` has been broken with [Delay](https://github.com/insitu-project/proto-ext/pull/69)

![integratoin_tests_broken](https://cloud.githubusercontent.com/assets/756887/19181375/ef67be36-8c6c-11e6-9fd4-832eaf6cebdf.png)

[2016-10-07 16:24] bmenant opened #76 "Show Recommendation Editor"
https://trello.com/c/GzjO8FHu/62-show-recommendation-editor-ext

[2016-10-07 17:18] #57 closed, assigned to bmenant

[2016-10-12 13:14] bmenant opened #80 "Invalid matchingContext’s regex breaks matching engine"
It throws an error such as `Error in event handler for tabs.onUpdated: SyntaxError: Invalid regular expression: /www.gourmesso.fr/capsules-de-cafe?(?:\?.*)?$)/: Unmatched ')'`

[2016-10-13 12:13] bmenant opened #82 "Change loading text"
https://trello.com/c/O1yHHi0p/70-loading-message-ext-enhancement

[2016-10-14 08:56] DavidBruant opened #84 "RecommEndation"
There are lots of 'RecommAndation' in the codebase that should be changed to 'RecommEndation'

[2016-10-14 09:51] bmenant opened #85 "Make extension more robust to malformed reco object"
https://trello.com/c/VuOzUnyB/63-to-be-discussed-when-the-backend-sends-incomplete-badly-formated-recommendations-the-extension-shows-up-empty-freezes-ext

[2016-10-14 12:43] #82 closed, assigned to bmenant

[2016-10-14 14:27] bmenant opened #88 "Change API origin to v2"
When we’ll release out [Aspe](https://github.com/insitu-project/proto-ext/milestone/2) and because of #59, the API route will change for `/api/v2/` instead of `/api/v1/`.

This is **mainly** to avoid displaying an empty extension interface (since the previous version of the extension was fetching embedded reco from matchingContext, it won’t be able to fetch the recos anymore, and therefore show up

[2016-10-14 14:57] #75 closed, assigned to nobody

[2016-10-19 09:06] bmenant opened #91 "Extension updates (from the Chrome Web Store) sometimes break the app"
After a new version is published on the Chrome Web Store, the browser updates the already installed extension. Afterward, it’s been noticed few times that, for unknown reasons, the extension gets blocked.

It’s likely that the redux store somehow fails to rehydrate itself. It is yet to be investigated though.

A workaround is to reinstall (or reload) the extension.

[2016-10-19 09:11] #88 closed, assigned to nobody

[2016-10-19 13:06] #80 closed, assigned to bmenant

[2016-10-19 13:29] bmenant opened #92 "Many requests for one reco"
Monitoring extension’s network activity, I noticed each reco is requested several times when a matching context matches.

![screencast_many_requests](https://cloud.githubusercontent.com/assets/756887/19520459/a6139acc-9610-11e6-96de-efba66629082.gif)

![many-requests](https://cloud.githubusercontent.com/assets/756887/19520365/4910608a-9610-11e6-8aff-b9278597b348.png)

[2016-10-19 20:18] #55 closed, assigned to nobody

[2016-10-19 20:19] #40 closed, assigned to nobody

[2016-10-28 08:06] #74 closed, assigned to bmenant

[2016-10-28 08:06] #76 closed, assigned to bmenant

[2016-10-28 08:06] #84 closed, assigned to nobody

[2016-10-28 09:13] bmenant opened #93 "Bugfixes Aspe"
https://trello.com/c/YWNbtGNL/71-bugfixes-aspe

[2016-10-28 13:54] #85 closed, assigned to nobody

[2016-10-28 16:15] #93 closed, assigned to bmenant

[2016-11-03 12:48] bmenant opened #97 "Consider using React Contexts and more concerned Containers"
Some props like `imagesUrl` are passed through the whole component tree.
It would make sens to define them as _contexts_ instead of _props_.

[2016-11-04 08:55] #30 closed, assigned to nobody

[2016-11-04 08:58] bmenant opened #98 "Consumers can choose which Criteria or Sources of Recommendation they want to receive."
https://trello.com/c/FEbEfaze/73-preferences-feeds-criteria-editors-ext

[2016-11-09 10:39] bmenant opened #99 "Add matchingContexts to RECOMMENDATION_FOUND analytic events"
https://trello.com/c/1K6fCKtr/78-add-matching-website-s-url-to-analytics-events-ext

[2016-11-09 12:04] #92 closed, assigned to nobody

[2016-11-09 12:14] #99 closed, assigned to nobody

[2016-11-09 12:46] bmenant opened #102 "Support recommendation’s description formatting"
See https://github.com/insitu-project/kraft-backend/pull/76

[2016-11-09 14:29] #102 closed, assigned to nobody

[2016-11-18 10:38] #39 closed, assigned to nobody

[2016-11-18 10:39] #46 closed, assigned to nobody

[2016-11-22 11:12] bleucitron opened #105 "Clarify which files are useless"
Reading through the code, i was not able to state whether some files are still used:
- [x] `src/app/index.js`: **no usage** (see [src/app/background](https://github.com/insitu-project/proto-ext/blob/develop/src/browser/extension/background/index.js#L7) instead)
- [x] `src/browser/extension/heap/index.js`: ~~it seems to be used in `src/browser/extension/background/index.js`, but i don't get the poi

[2016-11-24 09:29] #47 closed, assigned to nobody

[2016-12-09 10:52] bmenant opened #108 "Dismiss & Approve reco"
- [x] sync dismiss/approve reco with background and persist...
- [x] send feedbacks to backend API.
- [x] `tabs` file: `fromRecoUrlToSendingTabs()`  filter out dismissed recommendations...
- [x] Dispatch a `CONTEXT_MATCHED` action (analytics).
- [x] Dispatch `RECOMMENDATION_DISPLAYED` or `RECOMMENDATION_DISMISSED`
- [x] Do not send back to background `RECOMMENDATION FOUND`.
- [x] Add the "Report"

[2016-12-09 15:31] bmenant opened #109 "Are we crossbrowser? Almost!"
With a few tweaks, a successful installation of the extension on Firefox has been checked out.

- [x] A PR has been made on [crossmessaging](https://github.com/zalmoxisus/crossmessaging/pull/5)
- [x] [Fix CSP syntax](https://github.com/insitu-project/proto-ext/pull/110) (`self` to `'self'`)

[2016-12-14 10:43] bleucitron opened #112 "Are CHECKOUT_RECO_* actions used in any way ?"
I did not find any use of the 2 actions `CHECKOUT_RECO_RESOURCE` and `CHECKOUT_RECO_ALTERNATIVE`, neither background nor content side.

If useless, i will throw them away.

[2016-12-14 11:42] #112 closed, assigned to nobody

[2016-12-15 14:51] #109 closed, assigned to nobody

[2016-12-15 14:52] bmenant opened #113 "Track editor links"
https://trello.com/c/lot4vCfj/83-track-editor-links-ext

[2016-12-15 14:55] bmenant opened #114 "Reco Type Indicator"
https://trello.com/c/ZC6PPR9K/82-recommendation-type-indicator-ext-back

[2016-12-15 18:22] #113 closed, assigned to bmenant

[2016-12-16 09:03] #98 closed, assigned to nobody

[2016-12-16 09:03] #105 closed, assigned to nobody

[2016-12-16 09:29] bmenant opened #116 "Unable to exclude/include Editor from preference panels"
Firstly reported here: https://github.com/insitu-project/proto-ext/pull/104#issuecomment-267308373 (which has been merged afterward)

I guess something goes wrong with `excludeEditor`/`includeEditor` actions or reducers...

![editorsgettingmessy](https://cloud.githubusercontent.com/assets/756887/21222870/70a91714-c2c4-11e6-8410-6c0342d50a0a.png)

Here are persisted editors right after I tried to e

[2016-12-19 10:07] bleucitron opened #120 "Reorganize some folders ?"
I think it might be a good idea to have a folder structure more or less like this:

[code]

Plus, is the distinction between `app` and `browser` still necessary ?

[2016-12-19 10:17] bleucitron opened #121 "Mutualize some reducers"
We have reducers that basically do the same thing background-side and content-side:
- `selectCriterion`
- `unselectCriterion`
- `includeEditor`
- `excludeEditor`
- ...

We should have one function for each instead of two. These mutualized functions would be filed under a `reducers/common` folder.

This would be the occasion to have the same skeleton for our background and content states, which is

[2016-12-28 13:47] bmenant opened #123 "Fix initial iframes styles"
See https://lmem.slack.com/archives/support/p1482790175000002

[2016-12-28 13:49] #123 closed, assigned to nobody

[2017-01-02 14:17] #108 closed, assigned to nobody

[2017-01-02 15:10] #114 closed, assigned to bmenant

[2017-01-13 14:04] bmenant opened #127 "Report recommendation feedback"
It’s been technically done, but reformed since we’re not open to public recommendation yet.
Moreover, we should ask user for details about his reporting. This is yet to be defined.

[2017-02-05 10:28] #9 closed, assigned to nobody

[2017-03-01 17:10] #50 closed, assigned to nobody

[2017-03-01 17:11] #120 closed, assigned to nobody

[2017-03-03 17:31] #56 closed, assigned to nobody

[2017-05-15 09:28] #12 closed, assigned to nobody

[2017-05-15 09:42] bmenant opened #151 "Change UI"
See Trello Card: https://trello.com/c/HFLNlW7N/86-new-toolbar

- [ ] **Control Menu**
  - [x] remove deactivate button
  - [ ] remove settings button
  - [ ] move menu to right side
- [ ] **Title Bar**
  - [ ] remove title
  - [ ] reduce top bar height
- [ ] **Recommendation**
  - [ ] remove alternative shortcut button
  - [ ] remove criteria
  - [ ] move feedback buttons
  - [ ] change feedback b

[2017-05-15 09:59] bmenant opened #152 "New Popup"
See Trello Card:
~~https://trello.com/c/4eawADWH/89-new-pop-up~~
https://trello.com/c/FA1XbWXg/112-browser-button-popup-no-reco-found-for-this-page

- ~~**Browser Action** display grayscale icon when extension deactivated.~~
- **Popup**
  - [x] bootstrap a React+Redux store
  - [ ] 2-cases header (_no reco_ vs. _reco found_)
  - [x] menu

[2017-05-15 10:08] bmenant opened #153 "Move away sensible informations"
In order to open sources up, sensible configuration values (i.e. hosts origins) should not be staged with git.

[2018-07-20 15:45] #91 closed, assigned to nobody

[2018-09-21 09:26] #151 closed, assigned to bmenant

[2018-10-18 12:15] #152 closed, assigned to bmenant

[2018-10-18 12:17] bmenant opened #178 "Reload Matching Context every ... minutes"
See https://trello.com/c/eJFvfrwU/114-reload-matching-contexts-more-often

[2018-10-18 14:30] #178 closed, assigned to bmenant

[2018-10-19 16:50] bmenant opened #182 "Incomplete State: engagedTabs and triggeredContexts"
## Contexts Matching Engine (as it is right now)

Currently, contexts (i.e. URLs) are matched against outside of the Redux flow. As a matter of fact, whenever a context matches, [tabs.js/sendRecommendationsToTab()](https://github.com/insitu-project/recommendations-webextension/blob/develop/src/app/background/tabs.js#L69) basically bootstraps a React app with a synced Redux store.

As a result, all

[2018-10-25 14:27] lutangar opened #183 "Use flux standard actions"
An action **MUST**
be a plain JavaScript object.
have a type property.

An action **MAY**
have an error property.
have a payload property.
have a meta property.

An action **MUST NOT** include properties other than type, payload, error, and meta.

[2018-10-29 08:46] lutangar opened #187 "Remove gulp"
Must find an equivalent webpack way for each gulp tasks before moving everything to Webpack:
- manifest

- ...

[2018-10-29 08:49] lutangar opened #188 "Hot reloading"
Need to find a way to hot reload for a webextension, usually file are served by webpack-dev-server, but here it is served by the filesystem, maybe some solutions:
- https://github.com/rubenspgcavalcante/webpack-chrome-extension-reloader

[2018-11-16 15:10] lutangar opened #192 "Consider using react-frame-component"
This component could handle the iframe quirks for us:
https://github.com/ryanseddon/react-frame-component/

[2018-11-23 11:24] lutangar opened #194 "Consider removing ImmutableJs"

[2018-12-17 13:41] lutangar opened #197 "Truncate Bulle title in Js"

[2019-01-30 09:35] #182 closed, assigned to nobody

[2019-01-30 09:37] #37 closed, assigned to nobody

[2019-01-30 09:39] #197 closed, assigned to lutangar

[2019-02-08 14:16] JalilArfaoui opened #203 "Replace Sandbox with Storybook or equivalent"
In order to work on UI component, it is convenient to drop a component in some sort of sandbox without have to put the whole application in a specific use case we need ...

The sandbox mode that has been setup does this, and it certainly is useful, but you have to change the `src/App/sandbox/Sandbox.js` each time you want to work on a different case, or a different component.

There are a number o

[2019-02-08 18:00] JalilArfaoui opened #205 "Setup Typescript"
Let's add some type safety !

[2019-02-11 18:30] JalilArfaoui opened #207 "Remove deprecated unused code"
In particular, a lot of old non-`styled-components` components and css are still sitting side-by-side with production code, with links to active code, which makes the refactoring more difficult.

[2019-02-14 17:44] JalilArfaoui opened #210 "Repair Redux Devtool"
It does not work in background nor in content:

![image](https://user-images.githubusercontent.com/3037833/52806160-967d7280-3088-11e9-8219-e865dcb2639d.png)

[2019-02-15 09:01] JalilArfaoui opened #211 "Avoid fetching a dismissed/disliked notice"
When on API v3, use the new `id` field in matching contexts to check for dismissed/disliked notices and avoid fetching useless details.

[2019-02-22 09:34] bmenant opened #214 "Delay extension appearance and loading screen"
This follows PR #212

We have a gap between what we had before the big refactoring (initiated by @lutangar) and what we have after #212. What we had before was pretty much what the #47 reference diagram shows (see the difference between the Minimum Loading Time (MLT, blue line) and the Extended Loading Time (ELT, green line)):

![loadingchart](https://cloud.githubusercontent.com/assets/756887/1891

[2019-02-25 15:57] newick opened #218 "Need help in Storybook"
@JalilArfaoui it's mostly a reminder :)

- [x] NotificationNavigation is used only in the sandbox. I wanted to create a complete Notification organism. The problem is in the sandbox, I've got 2 bottom navs and if I remove the one from sandbox, it seems to be broken
- [x] In `screens/Account/Menu/normal`, the used of `url` breaks the display
- [x] In `Organisms/Notification/with nav`, I'd like to d

[2019-02-25 17:50] #218 closed, assigned to nobody

[2019-03-08 10:19] bmenant opened #241 "Messaging Error: “Could not establish connection. Receiving end does not exist.”"
AFAIK, this bug does not block the extension and has no visible effect on the behavior of the extension.

![connection_error_firefox](https://user-images.githubusercontent.com/756887/54022249-56467700-4192-11e9-8312-2d4c03163e3d.png)

Apparently, `Error: Could not establish connection. Receiving end does not exist.` is thrown when one attempts to communicate (e.g. `tabs.sendMessage()` or `tabs.con

[2019-03-08 10:38] bmenant opened #242 "State Mutation error thrown in contentScript on Staging & Development builds on Firefox"
![saga-state-mutation](https://user-images.githubusercontent.com/756887/54023222-b1796900-4194-11e9-89ba-695b8a6bd0bb.png)

[2019-03-08 13:35] bmenant opened #243 "Webpack Html Loader: process.env.NODE_ENV undefined when building views"
Causes production builds to fail loading unnecessary debugging tools.
See [/views/includes/devtools.pug](https://github.com/insitu-project/recommendations-webextension/blob/v2.x/views/includes/devtools.pug)

[2019-03-08 14:41] bmenant opened #246 "Notice Source should be optional"
A notice may have a source (which holds the source url). However, not every notice has a source. Therefore, this property should be optional.

The NoticeDetails component should also support such case (i.e. not including the source component) and a Storybook story should be added.

[2019-03-08 15:47] #243 closed, assigned to bmenant

[2019-03-08 16:08] #187 closed, assigned to nobody

[2019-03-14 15:26] bmenant opened #253 "Unconsistent behavior with “Go Back” button - UI_004"
Some unexpected behavior happens when messing around with about page, details and list.

The “Go Back” button (in the upper bar of the UI) should get the user back to the main screen of the current tab.
For instance, if the Notice tab is current, the go back button should go back to the notices list screen (main screen). If the Preference tab is current, the go back button should go back to the pr

[2019-03-14 15:31] bmenant opened #254 "Loading screen is unecessary on extension icon click (on demand display)"
Related QA: `UI_013` & `UI_015`

When there is no notice to display automatically, a click on the extension icon opens the UI. In such case, the loading screen should not be displayed, since the user explicitly called for it.

May be related to #214

[2019-03-14 15:35] bmenant opened #255 "Invalid prop installationDate of type object supplied to About component - IN_001"
The `INSTALL` action is triggered but the datetime is not shown properly in About screen.

[code]

Note: it works fine when the `installationDate` is totally missing. The issue is that a `Date` object is given, instead of a local string for that date.

[2019-03-14 15:43] bmenant opened #256 "Dismissed error when backend fails to handle Ratings post"
Related QA: `RA_003` `RA_005`

If the backend server fails for whatever reason (e.g. overloading) to handle a rating post request, the corresponding redux action is not reverted and the error is not shown to user.

An error screen or info is expected to be shown to user in such cases. The redux action should also be reverted (or by passed).

[2019-03-21 13:33] bmenant opened #257 "Network Errors Handling & Recovering"
In some circumstances (system suspend/wakeup), some errors such as `net::ERR_INTERNET_DISCONNECTED` and `net::ERR_NETWORK_IO_SUSPENDED` are thrown when the extension attempts to fetch matching contexts and/or notice.

As a result, the extension does not open and users think it doesn’t work. In some cases, it seems the browser kind of suspends the whole extension for its own safety (but this has ye

[2019-04-09 20:43] #205 closed, assigned to nobody

[2019-04-15 14:19] newick opened #262 "Notification Title must not been displayed all the time"
In a screen like "screens/menu" (in StoryBook) you can see some space at the top of the content.
It comes from ContentTitle which is always displayed in organisms/Notification/index.tsx. Is there a way to display it only when it's filled?

[2019-05-10 10:45] lutangar opened #271 "Behavior on protected pages"
A few special pages can't be overridden:
- bookmarks
- history
- newtab

Also the [chrome webstore](https://chrome.google.com/webstore/category/extensions), if you try to open the extension you'll get the following error:

In the cases described above, the **browser button**  could:
- show a grey version of the logo
- prevent user click or display a special message (or at least change the hovering

[2019-05-10 11:34] JalilArfaoui opened #272 "[Storybook] Use knobs instead of hard-coded values"

[2019-05-10 11:58] #262 closed, assigned to lutangar

[2019-05-10 12:10] #246 closed, assigned to lutangar

[2019-05-10 14:28] JalilArfaoui opened #273 "Typescript Setup Follow-up"
Follow-up of #240 (as seen with @lutangar)

- Missing .js files -> migrate to Typescript
- Update README
  - ESLint mention
 - Propose a PR for https://github.com/insitu-project/recommendations-webextension/pull/240#discussion_r269567040
 - src/types/TabInfo.ts

[2019-05-10 15:20] bmenant opened #274 "Limit permission access and request for activeTab instead of tabs"
The `activeTab` permission displays no warning on installation, which is quite an advantage.
See https://developer.chrome.com/extensions/permission_warnings#activeTab_permission

[2019-05-10 15:24] bmenant opened #275 "Consider using the WebExtension declarativeContent API"
https://developer.chrome.com/extensions/declarativeContent

This one sounds pretty good.

[2019-05-10 15:36] JalilArfaoui opened #276 "Restore likes/dislikes counters on notices list"
Revert #204 , once #258  is merged

[2019-05-10 15:57] bmenant opened #277 "Improve matching engine performance"
The general idea is to add a new fast shortcut to the matching context engine, with a fallback to the current mechanism.

From the backend point of view, we will split the matching context per domain.tld and expose a bloom filter endpoint to shortcut usual matching context logic. As a result, the browser will not run an ever growing list of regexes on each URL update. If the _murmur_ passes the bl

[2019-05-10 19:39] JalilArfaoui opened #278 "Rename project and repo to "Bulles""
What do you think @bmenant @lutangar  ?

[2019-05-16 09:34] #33 closed, assigned to nobody

[2019-05-16 09:34] #97 closed, assigned to nobody

[2019-05-16 09:34] #116 closed, assigned to nobody

[2019-05-16 09:34] #121 closed, assigned to nobody

[2019-05-20 10:39] #194 closed, assigned to nobody

[2019-05-20 11:04] JalilArfaoui opened #285 "Immediately refresh browser icon when a notice is dismissed"
# From the list

**Current behavior :** From the list, when a notice is dismissed immediately hidden, the browser icon is not update and continue to show the previous (red or gray) counter. The page has to be refresh for the browser icon to update.

**Expected behavior :** The browser icon should be updated right ahead, and show no badge if no notice remains in the list.

# From the detail vue

**

[2019-05-23 08:33] #285 closed, assigned to lutangar

[2019-05-24 15:01] bmenant opened #294 "Document styled-component usage and pitfalls"
See PR comment: https://github.com/insitu-project/recommendations-webextension/pull/292#pullrequestreview-241303201

[2019-05-31 17:53] bmenant opened #302 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-06-01 13:18] #302 closed, assigned to nobody

[2019-06-01 16:17] JalilArfaoui opened #310 "Notice Excerpt should be limited to 2 lines"
This PR was supposed to fix the problem, but it seems that the problem is still present:

![screenshot](https://user-images.githubusercontent.com/3037833/58751009-56a49480-8499-11e9-888b-cfd47b0bb895.png)

[2019-06-01 16:21] #276 closed, assigned to JalilArfaoui

[2019-06-05 09:47] lutangar opened #312 "Document React (bare/connected) component conventions"
I keep stumbling upon a few issues with the actual components organizations:
- a lack of reuse: atoms should be reused everywhere, sometimes not as is of course, but least could extend another one
- some components seems not to be used at all, we should clean this up
- some **atoms** seems to be present in the content folder and they shouldn't be (see the `components` folder as a component library

[2019-06-14 15:56] #273 closed, assigned to nobody

[2019-06-20 15:54] JalilArfaoui opened #330 "Analyze why Firefox crashed on Sentry init only in content script"
This is a follow-up to quick-fix #321

Firefox was broken on production because of this error :

![image (4)](https://user-images.githubusercontent.com/3037833/59203700-69a51c00-8b9f-11e9-8f2a-1e1cee34ac3a.png)

content script execution crashed wish caused background script to be unable to communicate with it ...

I narrowed the issue to the `init` of Sentry causing a `Error: "addEventListener" is

[2019-06-21 07:46] #253 closed, assigned to lutangar

[2019-06-21 16:07] #310 closed, assigned to lutangar

[2019-06-24 13:12] JalilArfaoui opened #333 "Migrate environnement variables to .env file"
This is follow-up to https://github.com/insitu-project/recommendations-webextension/pull/332#issuecomment-505002197

Now that we use .env  file (with `dotenv`) to load variables that we don't want to include in the source code, we may move other configuration variables to this file.

It's still open to discussion which ones, as some variables are more configuration for the build type (chrome, stag

[2019-06-25 15:10] lutangar opened #335 "Account menu broken"
style/dismissed

[2019-08-16 13:04] bmenant opened #344 "Fix ratings to cover display, unfold, click-outbound..."
And tackle naming issues: https://github.com/insitu-project/recommendations-webextension/pull/342#discussion_r314710040

[2019-08-16 14:19] bmenant opened #345 "Fetch contributors list at will from the subscription screen"
See discussion in https://github.com/insitu-project/recommendations-webextension/pull/341#discussion_r314738588

Depending of the decision we take, this might have implication on the backend as well.

This is not high priority (post MVP release).

[2019-08-19 13:11] JalilArfaoui opened #347 "Only include useful font faces in the bundle"
Today, all variants are inside the bundle:

![image](https://user-images.githubusercontent.com/3037833/63268060-9e1a1000-c293-11e9-8ab7-dcdb1ecc33df.png)

[2019-08-26 13:05] lutangar opened #350 "Action name/structure conventions"
https://github.com/insitu-project/recommendations-webextension/pull/341#discussion_r316646049

[2019-08-28 15:41] JalilArfaoui opened #351 "Actions names and organization"
Discussion started here : https://github.com/insitu-project/recommendations-webextension/pull/341#discussion_r316863829

[2019-08-29 08:42] #350 closed, assigned to lutangar, JalilArfaoui

[2019-08-29 10:03] JalilArfaoui opened #353 "Wait for store rehydratation before dispatching actions"
_Originally posted by @JalilArfaoui in https://github.com/insitu-project/recommendations-webextension/pull/346#discussion_r318987668

If persisted state has `installationDetails` persisted with `version` only, and we dispatch an `installed` action with `datetime` before store rehydratation, persisted `installationDetails`  overwrites the new one, and we loose installation date ...

[2019-08-29 12:37] bmenant opened #354 "Separate DISPLAY & MARK_READ"
@bmenant Do you want me to add a commit to separate clearly `DISPLAY` and `MARK_READ` actions, as we said last week it was probably not that good ?

Or do we consider this to be enough for now and do that in another PR ?

... in the same kind of thought .... getMarkedUnreadNotices selector should still be simply named getUnreadNotices ... because it's what it does ... even the action (command) was

[2019-09-02 08:39] lutangar opened #358 "Dev dependencies"
Mb it's not an issue, but when attempting to rebase on develop I saw there are no dev deps anymore... is that normal?

[2019-09-04 08:16] #358 closed, assigned to JalilArfaoui

[2019-09-05 12:08] JalilArfaoui opened #360 "Could we differentiate errors 400 from 500 ?"
Could we differentiate 400 from 500?
Also 'Bad response from server' looks more like a 5xx rather than 4xx

_Originally posted by @lutangar in https://github.com/insitu-project/recommendations-webextension/pull/359_

[2019-09-05 16:18] bmenant opened #361 "Add synoptic diagram somewhere?"
I’ve got a Inkscape SVG version of it...

![actions-diagram](https://user-images.githubusercontent.com/756887/64359863-84a1f380-d009-11e9-9be5-3064e9315433.png)

[2019-09-06 11:29] lutangar opened #362 "TS hook doesn't produce same error as TS in watch mode"
[code]
When attempting to push I got the following error from typescript, but not running `yarn start`.
There is a related issue https://github.com/rt2zz/redux-persist/issues/700 BUT in our project everything seems to run fine everywhere expept when attempting to push.

Might be configuration diff between the ways TS is ran.

[2019-09-12 15:40] lutangar opened #367 "Use `react-router` `NavLink` for tabs for settings in `options` app"

[2019-09-26 15:09] lutangar opened #383 "Mitigate multiple tab options opened"
https://developer.chrome.com/extensions/runtime#method-openOptionsPage

[2019-09-27 10:00] newick opened #390 "Extension: review markup"
`<main>` in `<section>`is strange, could be better

[2019-09-29 20:18] newick opened #399 "Storybook: list of colors"
a solution? https://benrobertson.io/frontend/color-swatches-storybook

[2019-10-01 09:39] newick opened #405 "Storybook content: list of all logos version"
something like https://atlassian.design/guidelines/marketing/resources/logo-files could be super nice

[2019-10-03 15:20] lutangar opened #415 ":nail_care: Detect if the user uses a Dark Theme and change design accordingly"
:nail_care:

[2019-10-04 11:15] #354 closed, assigned to nobody

[2019-10-04 11:15] #353 closed, assigned to lutangar

[2019-10-04 11:15] #335 closed, assigned to lutangar

[2019-10-11 09:35] JalilArfaoui opened #452 "Error should not show on Preview screen in Storybook"
_Originally posted by @JalilArfaoui in https://github.com/insitu-project/recommendations-webextension/pull/451#issuecomment-540992030_

[2019-10-17 11:53] lutangar opened #469 "Action dispatched from background to background loop infinitely"

[2019-12-04 12:20] #344 closed, assigned to JalilArfaoui

[2019-12-04 12:22] #274 closed, assigned to nobody

[2020-01-07 13:37] lutangar opened #547 "Create better enum(s) for OpenReasons, CloseReasons and Toggle Action."
https://github.com/insitu-project/recommendations-webextension/pull/542#discussion_r363691035

[2020-01-23 09:45] lutangar opened #555 "Create a manifest file per env & platform"
For example at the moment there is no *firefox staging* manifest.
Could take example of the various build, for example:
firefox/
   staging.js
   production.js
chromium/
   staging.js
   production.js

[2020-01-28 09:41] newick opened #567 "Error on storybook with Firefox"
On Firefox after I `yarn storybook` I've got the following message in my browser
[code]

[2020-02-12 15:25] lutangar opened #574 "Update options page declaration in manifest"
The `options_page` key of the manifest file is deprecated, we're supposed to use smthing like the following if we want to keep to new tab behavior and our own CSS style:
[code]
Furthermore this is compatible with firefox and chrome.

Also when opening the options tab we're supposed to use the following method:
`runtime.openOptionsPage()`

[2020-02-12 16:16] lutangar opened #575 "Firefox `tabs` permission"
When we remove the `tabs` permission from the Firefox manifest file, no pages match and the options page can't interact with the backround with the current system.

I think there are 2 separates problems here:
- for the matching case, the tab is always considered as unauthorized because we don't have the URL, thus we can't say if it's authorized and we even suppose it's not (see `isTabAuthorizedBy

[2020-02-14 09:22] #575 closed, assigned to nobody

[2020-02-14 09:23] #567 closed, assigned to lutangar

[2020-02-14 09:23] #555 closed, assigned to nobody

[2020-02-14 09:25] #333 closed, assigned to nobody

[2020-02-14 09:25] #347 closed, assigned to nobody

[2020-03-30 12:18] #49 closed, assigned to nobody

[2020-03-30 12:18] #51 closed, assigned to nobody

[2020-03-30 12:18] #52 closed, assigned to nobody

[2020-03-30 12:18] #127 closed, assigned to nobody

[2020-03-30 12:18] #203 closed, assigned to nobody

[2020-03-30 12:18] #207 closed, assigned to nobody

[2020-03-30 12:18] #214 closed, assigned to JalilArfaoui

[2020-03-30 12:18] #242 closed, assigned to JalilArfaoui

[2020-03-30 12:18] #254 closed, assigned to nobody

[2020-03-30 12:18] #255 closed, assigned to JalilArfaoui

[2020-04-16 14:08] lutangar commented on #275
I'm copying this message  from the slack :

https://developer.chrome.com/extensions/declarativeContent#rules
alors que nous faisons des contorsions de fous pour arriver au même résultat avec pleins défauts en plus...

[2020-04-16 14:10] lutangar commented on #275
From the Firefox team :

[2020-05-01 14:53] johnkrovitch opened #634 "Issue with CGU validation"
Hi,

I have a strange bug with CGU validation : I need to validate the CGU multiple times. It is like I need to validate for each site managed by the extension.

For example, I browse amazon.fr, the extension asks me to validate the CGU. I click and do validate. Then I go to another site, airbnb.fr, then the extension asks again me to validate the CGU.

But the strange thing is that the bug does n

[2020-05-01 21:31] MaartenLMEM commented on #634
Thanks a lot John !
There is obviously a problem here. With a colleague, we tried to reproduce the bug, we didn't success.
But last days a dozen of people who uninstalled Dismoi told "it requested a new permission".
Also one of us had same problem as you but just one time.
We are trying to understand and find the origin of it.
If you agree we will contact you for some more details.
Best,

[2020-05-01 21:57] johnkrovitch commented on #634
@MaartenLMEM yes of course.

[2020-05-08 10:04] lutangar commented on #634
Thank you for reporting this issue!
We'll need a few more informations before digging further :
- Approximate date of first installation
- Current Dismoi extension version number (check about:addons in Firefox)

I'll get back to you asap.

[2020-05-16 18:36] johnkrovitch commented on #634
Hi,
the extension version is 3.30.0 (and Firefox 76.0.1 (64 bits)).
The first installation was a long time ago, when it was called "le même en mieux". I do not know the precise date.

[2020-05-18 10:16] johnkrovitch commented on #634
Hello,

I may have new data on the bug : I had the issue in my Linux browser (Firefox 76.0.1). It seems that the extension tells me to validate the CGU only if there is a contribution on the current page. Otherwise, it seems that have do not have the issue.

[2020-05-19 09:24] lutangar opened #640 "Add an issue template"
- current dismoi version
- list of browser extensions installed
- when did you install the extension for the first time
- browser
- os
....
@JalilArfaoui other ideas?

[2020-05-19 11:02] JalilArfaoui commented on #640
- screenshot, when useful ?

[2020-05-19 11:02] JalilArfaoui commented on #640
- console log ?

[2020-06-28 12:30] JalilArfaoui opened #648 "Fix `Item`, `ItemState` and/or `Subscription` inconsistent typings"
TypeScript is correct yelling at us :
- We define `ItemsState` as `<I extends Item> = I[];`, `Item` being a `{}` interface
- We then use this property in the reducer to be able to `R.eqProps(itemIdentifier),`
- But in `src/app/profiles/store/reducers/subscriptions.reducer.ts` we use `ItemsState<Subscription>`, `Subscription` being a `number`
- It only works because we don’t use the default `item`

[2020-09-07 09:34] lutangar commented on #362
@JalilArfaoui previous comment is a bit outdated, but at the time it was probably different output because we used either `tsc --noEmit` or `eslint 'src/**/*.{ts,tsx}'`.
Still questions persist :
- Is `tsc --noEmit` still relevant?
- If so, shouldn't we include this typecheck in the lint command or do you consider this as a different job?

[2020-09-10 14:21] JalilArfaoui commented on #362
@lutangar to me :

- `tsc --noEmit` checks the correctness of typings and their usage. It does not case about the code style
- `eslint 'src/**/*.{ts,tsx}'` checks the code style of all JavaScript *and* TypeScript files, including the typings style

They are both useful to me on their respective job.

Typing may be detected as incorrect (such as in the description), and the application still buildi

[2020-09-17 08:09] JalilArfaoui commented on #362
@lutangar Do you still have an issue with the setup ? 
How can I reproduce ?

[2020-10-15 12:38] jibe-b opened #712 "Implement WebAnnotation to enable quoting"
An example is https://web.hypothes.is/#features. They provide a webextension to annotate texts and have the annotations shown with an highlight of the text when a user visits the page.

This would enable a contribution made through the dismoi extension to be linked to a selection of text.

(Note that the webannotation protocol consists in storing the 100 characters before and after the selected te

[2020-10-16 07:28] jibe-b opened #713 "[Feature] Implement the ActivityPub protocol"
I love the dismoi extension! I discovered through captainfact and I you are implementing something I have been looking for a long time (hypothes.is was the closest I was relying on).

Implementing ActivityPub would enable contributions made through dismoi to appear in the applications of the Fediverse, including Mastodon. This will make dismoi more visible, natively.

Reciprocally, the posts made

[2020-10-16 11:55] MaartenLMEM commented on #712
Hi @jibe-b
Thanks for sharing this. I wrote an analysis of this feature value here : https://github.com/dis-moi/extension/wiki/Int%C3%A9r%C3%AAt-de-l%E2%80%99annotation-de-texte-pour-DisMoi-:-comparaison-avec-Genius-et-Hypothes.is
Also :
- A question behind this issue is of course : Why should we developp this feature ?
- It's important to  distinguish between text annotation feature and recognisi

[2020-10-16 12:35] lutangar commented on #713
Wow! I had the exact same idea! We should definitely make something like this happens! :fireworks:
...but this might be out of scope for **Dismoi** though, let's discuss this with @MaartenLMEM .

I created this PoC https://github.com/larriereguichet/bequet in my spare time, the idea was to make this very idea come to life with the help of @Goutte , let's keep in touch if you're interested.

Also,

[2020-10-16 12:43] MaartenLMEM commented on #713
Not out of scope, Undoubtedly usefull.
Was just less important and urgent than other issues and features, in my point of view, like creating profile pages, or reassure users during installation.

[2020-10-21 12:58] jibe-b opened #717 "[Channel] contribution guides"
I consider starting a channel to propose a link to the contribution guide or similar page a project proposes.

[2020-10-21 13:00] jibe-b opened #718 "[Channel] extension that would enhance the navigation on the current site"
You may propose to the Mozilla community to start a channel that shows the webextensions (addons) that are available and that would improve the navigation on the current webpage.

[2020-10-21 14:09] MaartenLMEM commented on #718
I agree on the idea It could be a kind of filter to find addon fitting to my habits.
But are we the right people to propose that ? Or this proposition would be too much self-serving ?
Also, do you think it s likely to bring real action, regarding the many issues they have ?

[2020-10-21 14:12] MaartenLMEM commented on #717
Currently, this page exists : https://www.dismoi.io/informer/
I remember you also told about an issue to inform people there is a delay before their contribution will be published. But I can't find it.

[2020-10-21 14:21] lutangar commented on #717
Maybe I'm wrong but I think what's @jibe-b is proposing is a "Contributor" that would post a notice on a project website to propose the visitor to contribute to it.
Example:
[code]

[2020-10-22 14:37] jibe-b commented on #717
You got my point @lutangar :)

[2020-10-22 14:39] jibe-b commented on #718
Indeed no, it should not be you maintaining such a channel, it should be the Chromium/Mozilla communities! They have the eye on the webextensions, they promote them so they are the best suited to either maintain such a channel.

[2020-10-26 13:04] jibe-b opened #722 "Learn awesome channel"
https://learnawesome.org/ is a work in progress, crowdsourced based and built with ActivityPub by default. They could have a nice channel on dismoi.

[2020-10-26 13:17] MaartenLMEM commented on #722
Very interesting example : This kind of articles here are able to bring a usefull/enlightening backdrop to the pages their links bring to.

[2020-10-26 13:27] MaartenLMEM commented on #718
OK ! To be sure... you are talking here about a channel on DisMoi ?

[2020-10-26 15:26] jibe-b commented on #718
Yes. Maintained by webextension-catalogs communities (from Mozilla and Chrome)

[2020-10-27 09:45] MaartenLMEM commented on #722
Hi Jibe, we can make a POC of this. Shall we take randomly 20 pages and make manually related contributions ?

[2020-10-27 10:15] lutangar commented on #634
After digging on lost settings it's seems to be a recurring issue with extensions in general.

See the following :
- https://help.getadblock.com/support/solutions/articles/6000169060-i-keep-seeing-your-payment-page-or-adblock-keeps-losing-my-settings-in-firefox
- https://www.reddit.com/r/firefox/comments/bwv68f/how_to_stop_firefox_from_automatically_resetting/

We decided to change the design of t

[2020-10-27 10:15] #634 closed

[2020-11-09 15:15] lutangar commented on #362
Regarding #729
I just stumble upon another reason for the strange feeling:
**Typechecking isn't run on the test folder when watching for type errors*

Example:
1. I commit smthing.
2. Run `yarn typecheck` and saw an error in `test/fakers/generateContributor.ts`

[2020-11-09 17:12] JalilArfaoui commented on #362
Do we want to always check types in /test (watch+verify) of never ? (true question)

[2020-11-09 17:35] lutangar commented on #362
I'd say always. What about you?

[2020-11-09 19:40] JalilArfaoui commented on #362
I’ve taken a closer look, and it feels natural to me after all :

- The Webpack dev server only watches and parses the files that are going to make it to the bundle. It does not care about the tests, in fact it does not run them.

- On the contrary, `yarn typecheck` command typechecks all files configured in `tsconfig.json/include` … We could remove ./test from there, but we would just lose a feed

[2020-11-23 09:38] MaartenLMEM opened #741 "Adding or Asking information on a page : Impossible to valid after Preview : "failed to fletch""
- [x] Watch this kind of errors with Sentry
- [x] Ask to SendInblue what happened
- [ ] Estimate new feature : Create question or contribution directly in Backoffice

[2020-11-23 09:44] MaartenLMEM opened #742 "Margin missing on detailed message when there is the scrollbar"

[2020-11-23 10:14] MaartenLMEM commented on #742
![margin-so-thin-right](https://user-images.githubusercontent.com/7824485/99950562-fa17f200-2d7c-11eb-9758-c90c46742283.png)

[2020-11-23 10:16] MaartenLMEM opened #743 "Doc Firefox"

[2020-11-23 11:12] MaartenLMEM opened #744 "It takes seconds before main elements are displayed on sources page"
See vidéo the delay before main notice and image are displayed on i-Boycott profile  :https://drive.google.com/file/d/161YxrOpQVvWWuqs5-b36Zr-X3K2VpBAz/view

[2020-11-24 17:22] MaartenLMEM opened #745 "Analytics opt-out preference"
Consumers are free to **opt-out** analytics in order to better protect their own privacy.

When a user opt-out, Matomo Analytics are disabled. This setting **must persist** from a session to another.

[2020-11-24 17:41] MaartenLMEM opened #746 "Respect DoNotTrack browser preference"
https://fr.matomo.org/docs/privacy/#step-4-respect-donottrack-preference

[2020-11-26 16:11] newick opened #748 "Install Dismoi popin is too narrow"
@lutangar I think we spoke about making this popin larger.
Could you have a look?
We can discuss it whenever you can.

[2020-11-26 16:12] MaartenLMEM commented on #745
**Second draft and more**

New label in menu : _Mon compte_ becomes _Mes données_

In this part, there several items :

**- Partage de mes données d'usage**
[x]"Je partage mes données de façon anonyme pour améliorer le produit"
Lorsque vous interagissez avec l'extension ou lorsqu'une bulle est notifiée, ces évènements sont remontés avec l'adresse web de la page web visitée à notre outil de suivi d

[2020-11-26 16:28] lutangar commented on #748
I'm available tomorrow.

[2020-11-27 10:08] #742 closed

[2020-11-27 10:25] bmenant commented on #742
:tada: This issue has been resolved in version 3.59.2 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.59.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-27 15:27] #748 closed

[2020-11-27 15:50] bmenant commented on #748
:tada: This issue has been resolved in version 3.59.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.59.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-11-30 20:02] MaartenLMEM opened #751 "While installing extension on Chrome, subscription page didn't open in a new tab"

[2020-11-30 20:02] MaartenLMEM commented on #751
![image](https://user-images.githubusercontent.com/7824485/100658430-55cf1600-334f-11eb-9820-1b16d2e9aa14.png)

[2020-12-02 14:47] MaartenLMEM opened #752 "New labels for sources pages"
**Problem**
Lot of users are confused by the labels of tabs. They don't understand the difference between "sources" and "abonnements".

**Solution**
On tab https://www.dismoi.io/mes-abonnements :
"Abonnements" > "Mes sources"

On tab https://www.dismoi.io/sources
"Sources" > "Explorer"

[2020-12-03 10:15] MaartenLMEM opened #753 "Replace og:title" content by a title (not description)"

[2020-12-03 10:17] #753 closed

[2020-12-07 13:27] MaartenLMEM opened #754 "When there is no notice, users don't see main message "there is no notice here""
Issue :
We already found this issue previously and current UI was supposed to solve this problem.
We solved others problems, but this one, which is the main one, we didn't fox enough on it.

Solution :
New way to put the message forward - of course - and these are some ideas :
- replace this icon by an icone that is closer to meaning 'there is no message"
- smaller icon
- new color for the message

[2020-12-07 14:55] JalilArfaoui commented on #754
We talked about that this morning @antoinewolff …

[2020-12-08 10:05] newick opened #755 "[extension] Open link in new tab"
Context: on https://www.oui.sncf/, the extension triggers with le même en mieux's contribution about other websites to find tickets. I tried to click with the scroll wheel. It opened the tab with `https://www.oui.sncf/commande/www.trocdestrains.com?utm_medium=Dismoi_extension_navigateur`

It would be nice if it opened `www.trocdestrains.com?utm_medium=Dismoi_extension_navigateur` when the user use

[2020-12-09 16:12] thomasbnt opened #757 "[Design] Put the background color to transparent"
Hello 👋🏼

I'm new with this extension,  pretty good idea ! 👏🏼
I found that putting a white background waste the round rendering.

![image](https://user-images.githubusercontent.com/14293805/101654920-52b7e200-3a41-11eb-834f-542bf2bc88b4.png)

[2020-12-09 16:20] lutangar commented on #757
Thanks @thomasbnt !

The background is actually supposed to be transparent :sweat_smile:
On which browser/version are you experiencing this issue?
Also which version of the extension are you using?

[2020-12-09 16:26] thomasbnt commented on #757
Version of the extension : **DISMOI V3.55.4**
Chrome version : Version 87.0.4280.88 (Build officiel)
___

After checked in private browsing or a another website, the background is transparent, my bad ^^"
It's just the dark theme of GitHub :octocat:

[2020-12-09 16:34] lutangar commented on #757
No worries! Can still be a feature request nonetheless!

[2020-12-09 16:57] thomasbnt commented on #757
@lutangar a dark theme of the extension?

[2020-12-09 17:00] lutangar commented on #757
Also yes.

[2020-12-15 14:06] MaartenLMEM opened #759 "Youtube Vidéo embedded in notice"
As a web user, when I read notice in detail view in DisMoi, if there is an url about Youtube I can watch it directly embedded in DisMoi window.
For example, notice 165 from Alertoo visible on https://www.hsbc.fr whole website.

[2021-01-12 10:54] lutangar commented on #257
@JalilArfaoui we could rework this issue description to include the missing error messages and the need of placeholders for these messages.

[2021-01-12 15:15] #746 closed

[2021-01-12 16:04] lutangar commented on #183
An `ErrorAction` has since been implemented:
https://github.com/dis-moi/extension/blob/master/src/app/actions/index.ts#L97-L103

[2021-01-12 16:04] #183 closed

[2021-01-12 16:09] lutangar commented on #192
I wonder what concrete benefits it would bring apart maybe from less maintenance.
Our code handling the iframe quirks is mostly located here:
https://github.com/dis-moi/extension/blob/master/src/app/content/extensionIframe.ts

We could consider handling this issue if we encounter yet another `iframe` quirk but so far so good.

[2021-01-12 16:15] lutangar commented on #153
@JalilArfaoui I'd like to say it's not relevant since we open sourced the project.

...were considered *sensible* configurations values. We're indeed not committing secrets but still we are committing env files variations.

[2021-01-12 16:19] lutangar commented on #188
I still find this relevant and worth giving it a try!

@felix-lambert would you like to give this a try?

[2021-01-12 16:35] lutangar opened #761 "Project structure"
Current project structure is described [here] (https://github.com/dis-moi/extension/blob/master/docs/CONTRIBUTING.md#structure)

### Apps
It was discussed a few times before but here what's I'm suggesting:
The app folder should **only** contains:
- background
- profile
- profiles

...and that's it!

### Store stuff
Everything else should live inside the `src` directory.
That being said, common `re

[2021-01-12 16:38] lutangar commented on #210
I suppose this is still relevant would be useful for developer to come.

@felix-lambert would you like to give this a try or maybe @JalilArfaoui would like to take it back?

[2021-01-12 16:39] lutangar commented on #211
Is this still relevant @JalilArfaoui ?

[2021-01-13 10:43] lutangar commented on #278
Closing this since the name has changed again and org/repo has been renamed accordingly

[2021-01-13 10:43] #278 closed

[2021-01-13 10:58] lutangar commented on #294
Closing this since it was more a question on how to use `styled-components` and component names are used instead of *hard coded class names*...

...actually we should mention `styled-component` pitfalls somewhere, so I'm  updating the title according to this.

[2021-01-13 12:47] lutangar commented on #330
@JalilArfaoui is this still relevant?

[2021-01-13 12:49] lutangar commented on #345
Closing this as it's not relevant anymore.

[2021-01-13 12:49] #345 closed

[2021-01-13 13:13] lutangar commented on #367
Legacy options app no longer exists.

[2021-01-13 13:13] #367 closed

[2021-01-13 13:16] lutangar commented on #383
We longer use the options page because our options page is now hosted on an external domain.
This design decision have some drawbacks that we should document though.

[2021-01-13 13:16] #383 closed

[2021-01-13 13:17] lutangar opened #763 "Document design decision and drawbacks of an external "options page""

[2021-01-13 13:23] lutangar commented on #574
We no longer use options page but this content is still relevant and should be linked from the doc.

[2021-01-13 13:23] #574 closed

[2021-01-13 13:27] lutangar commented on #712
@MaartenLMEM do we agree that this feature won't be part of __DisMois__ per your analysis?.

[2021-01-13 14:12] MaartenLMEM commented on #712
@lutangar Yes, at least  not this year. And later probably not.

[2021-01-13 14:44] lutangar commented on #712
Alright, closing this then. Feel free to reopen it when relevant.

[2021-01-13 14:44] #712 closed

[2021-01-21 15:28] newick opened #765 "When I uninstalled the extension from Firefox, it opened bulles.fr"
It was the same for Marco.

[2021-01-21 15:31] newick opened #766 "[Profile page] Avatar is distorted"
It comes from the WP styles.
A solution can be to reset `max-width`.

But I thought I already corrected it. It was not pushed to prod ? @lutangar @JalilArfaoui

[2021-01-26 14:44] #640 closed

[2021-01-27 13:01] achauve opened #768 "POC SSR on app Profiles and static pages"

[2021-01-27 14:52] JalilArfaoui commented on #330
Someone has to comment this line https://github.com/dis-moi/extension/blob/7923b312022fee16541cc807ea2d1e35f2f9e003/src/app/content/index.ts#L24 to find out :-)

[2021-01-27 14:57] JalilArfaoui commented on #211
We’re still fetching notices that we know we won’t show (dismissed, disliked,  : https://github.com/dis-moi/extension/blob/7923b312022fee16541cc807ea2d1e35f2f9e003/src/app/background/sagas/tab.ts#L122

[2021-01-27 14:58] JalilArfaoui commented on #211
This tab saga needs a wider refactor though … I know you know ;-)

[2021-01-27 15:01] JalilArfaoui commented on #210
Feel free to try to fix this devtool setup :-)

The main pitfall I remember is multiple redux store (one for background, one for each content script, one for profiles app) …

[2021-01-27 17:57] JalilArfaoui commented on #761
`src/app` could event be named `src/apps` :-)

We should have
- src/store/actions
- src/store/sagas
- src/store/…
- src/apps/content/store/… for specific stuff …

[2021-01-27 18:02] JalilArfaoui commented on #153
We can close this I think @lutangar !

[2021-01-27 18:05] #153 closed

[2021-01-27 18:28] JalilArfaoui opened #769 "Senty : too much recursion"
One of our most recurring Sentry crash

Seems to occur only on Firefox on MacOS, since version 3.25.0 up to 3.60.1

Occurred 37 000 times, last time 11 minutes ago

https://sentry.io/organizations/lmem/issues/1804230636/

[2021-01-27 19:15] achauve opened #770 "Enable sentry on extension (only activated for backend and profiles app at the moment)"

[2021-01-29 19:13] christpet opened #771 "English version - to write specification"

[2021-02-02 11:17] MaartenLMEM opened #772 "Relayed notices visible on profiles"
**Stories**
- As contributor, to show my "work" and all things I can bring to people if they follow me, I would like to let see notices I have relayed.
- As user, I want to know what kind of notices I will receive if I follow a contributor, relayed notices are part of it.

**Suggested solution**
- Add "retweets" on profile pages.

[2021-02-02 11:18] MaartenLMEM commented on #772
@christpet I used issue template
but i tried to follow a kind of feature request canevas.

[2021-02-02 13:55] christpet commented on #772
Awesome, love it @MaartenLMEM ! Can you clarify what you mean by "relayed"? Does it just mean contributions they have posted?

[2021-02-02 13:56] MaartenLMEM commented on #772
in french "relayé" ou retweeté !

[2021-02-02 20:37] JalilArfaoui commented on #772
Same concept as in Twitter … On a Twitter profile, we see own tweets *and retweets* …

[2021-02-04 14:09] christpet opened #774 "URGENT: Err 500 when users try to create a new contributor profile"
**Describe the bug**
Please see the Trello card here: https://trello.com/c/vtYQ4WWT/680-quand-je-cr%C3%A9e-enti%C3%A8rement-un-nouveau-contributeur-%C3%A7a-p%C3%A8te-parfois

[2021-02-04 14:15] lutangar commented on #774
@christpet this is actually a __backend__ issue, don't know if can move an issue to another repo.

[2021-02-04 14:16] christpet commented on #774
Ah! Ok i'll transfer, thanks 👍

[2021-02-04 16:21] #766 closed

[2021-02-04 16:40] bmenant commented on #640
:tada: This issue has been resolved in version 3.61.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.61.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-09 15:51] newick opened #776 "User can send us feebacks if the Bulle doesn't match with the visited URL"
**Describe the feature/improvement**
If the extension triggers on a URL and the Bulle doesn't make sens, the User could be able to send us the info

**Target user**
Contribution team

**User stories**
1. The User opens the details of a Bulle which doesn't match the visited website topic
2. The User can click on a button close to the thumbs
3. It sends email/slack/whatever to the contribution team

[2021-02-09 16:23] lutangar opened #777 "Create a dedicated repository for eslint/prettier rules"
**Describe the feature/improvement**
It'll allow to share the same rules across projects.

**Target user**
Developers.

**User stories**
 A developer may add a common code style configuration to an existing Js/Ts project by running a simple command.

**Technical implementation notes**
The command should look as follow:
`yarn add --d @dis-moi/eslint-config`

All commands to setup a project could be

[2021-02-09 18:09] christpet opened #779 "Better product analytics for the extension"
**Describe the feature/improvement**
Track more product analytics so we can understand better how to improve the extension.

**Target user**
Me :) But end-users will benefit from our better decision making!

[2021-02-09 18:50] christpet commented on #241
@JalilArfaoui is this still happening? If no effect on extension... I say we take it off "high priority"

[2021-02-10 09:36] lutangar opened #780 "Storybook migration"
**Describe the feature/improvement**
Storybook is actually hosted there http://storybook.lmem.net/?path=/story/extension-servicemessage--with-an-action
And should instead be hosted here https://storybook.dismoi.io

**Additional context**
I think we should use and abuse references to the current storybook whenever necessary: meaning adding links to part of it in our issues and discussions.

[2021-02-10 09:40] lutangar commented on #776
What would be the label on such button/link?

[2021-02-10 10:05] lutangar commented on #241
Agreed. I think it's still happening, but don't think it's impacting the users.

[2021-02-10 10:57] newick commented on #776
- "Signaler une erreur" ?
- "???"

[2021-02-10 11:38] lutangar commented on #776
So it would open another page with a form then?
Or should it be just a button "Signaler comme hors-contexte"?

[2021-02-10 12:27] newick commented on #780
I'd agreed something like components.dismoi.io if it stays the list of components.

[2021-02-10 12:51] lutangar commented on #780
What could it be if it's not a list of components?

[2021-02-11 09:36] newick commented on #776
Depends of what infos Contribution Team would prefer.
@MaartenLMEM any idea about that?

[2021-02-11 09:36] newick commented on #780
A real design system like https://www.lightningdesignsystem.com/

[2021-02-11 09:40] lutangar commented on #780
Alright, alright... Now imagine you are in far away future and it's now a design system what subdomain would you choose?

[2021-02-11 10:03] newick commented on #780
some fun name :D
A pun around DisMoi?

[2021-02-11 10:07] christpet commented on #780
Bubbles design system? :D

[2021-02-11 10:15] lutangar commented on #780
Wow. such domain, many friendly, so system :dog:

[2021-02-11 10:16] newick commented on #780
a bit long,isn't it?
bubbles-system.dismoi?

[2021-02-11 14:19] MaartenLMEM commented on #776
- I know you think the same : I don"t trust users for technical feedbacks like "doesn't match with the visited URL".
- "Signaler comme hors-contexte"? is not understandable, it s a king of technical way of saying also.
- "Signaler une erreur" seems a valuable feedback. It a good starting point to find miustakes we made. We don"t need much more in the beginning.
- Then it's a UI issue : where and h

[2021-02-11 14:58] christpet commented on #771
Notes from Jan 21 meeting:

### UI du produit

- Extension itself  + Profile pages, not much to translate, would be changed in the the extension code
- Extension description
- step 1: put all hardcoded text into a file - 0.5 day
- step 2: translate -
- step 3: use a library to put the right translation in the right language version - 1 day
- Force a language in the user’s UI (i.e. English-speaking

[2021-02-11 15:30] newick commented on #776
@coffeeandpixel do you have any screen to show?

[2021-02-11 15:40] lutangar commented on #780
I think it went too far, my bad, I propose to rewind a bit and go with @newick first idea - *plus it's only one word* :
https://components.dismoi.io

[2021-02-16 13:58] christpet opened #781 "English version - review the spec and confirm task breakdown"
Basic MVP English version includes:

Extension
- Chrome (-> Edge, …)
- Firefox

Backend
- Pages
-- Sources page
-- Contributor Profile pages

Profiles app (now part of extension repo, may later be in website repo)
- Mechanism to recognize language and serve appropriate UI
- Mechanism to show only English contributions

Website
- Landing page
- Nav Menu
- Contribute page
- Help page
- About page

C

[2021-02-16 21:10] JalilArfaoui commented on #776
For the label, I’d go for a more subjective and first-person message :
- Je ne vois pas le rapport (avec cette page)
- Why do I see that ?
- …

Also, I agree that a button does not feel right to me. Maybe a subte link ?

[2021-02-16 21:13] JalilArfaoui commented on #780
A message for us in the future :

https://design.dismoi.io

[2021-02-17 08:47] christpet opened #782 "Question: What events are we tracking in the extension?"
In Matomo, what are these "events" actually tracking?
![image](https://user-images.githubusercontent.com/32476396/108178829-2f767680-7105-11eb-9453-003cbb4000cf.png)

[2021-02-17 08:53] MaartenLMEM commented on #782
@christpet It was @lutangar who built up analytics on matomo. I ll know probably better than Jalil.

[2021-02-17 08:55] MaartenLMEM commented on #782
I start to answer, tell me if it's what you expected :
- Suscribe = suscribe to an contributor
- Close : extesnion window closed (beacause user clicked on the cross up right the window)
- Click = user clic on extension
etc.
Or do you want more technical informations ?

[2021-02-17 10:01] christpet commented on #782
Fantastic thank you @MaartenLMEM that's exactly what we're looking for @zhinu

That is a LOT of subscribes in one week... is that expected behavior?

[2021-02-17 10:07] MaartenLMEM commented on #782
Yes and no.
Yes : It counts real suscribing events, even when these are automatic
No : Some extensions "loose their mind" about DisMoi : their local storage forget its subscriptions. So we built up a mechanism that suscribe user to  N default contributors if it has zero subscription.

[2021-02-17 16:26] christpet commented on #782
Ah wow, that would explain why the number is so big. Really interesting that the extension has amnesia sometimes 😅

Looking at Matomo, it looks like the majority of subscription events are attributable to just 2 users in Ukraine and Australia. Many times per day they log a session where they add 17-22 subscriptions within 2 seconds. There's our automated mechanism.

It's okay for now, we might be

[2021-02-17 17:33] MaartenLMEM commented on #782
Look out Chrisitian, those are anonymized users ! They are all differents, and they are in France. Ukraine or Australia is just a way for matomo to anonymize data.

[2021-02-17 21:02] lutangar commented on #780
Lovin' it what about you @newick ?

[2021-02-18 11:03] christpet commented on #782
Oh wow I didn't realize that even the country is scrambled. Thank you for the heads up!

[2021-02-18 11:22] newick commented on #780
👍

[2021-02-18 14:16] christpet opened #783 "Migrate the Chrome manifest to v3"
Il semble que Chrome a entamé le déploiement du manifeste V3 :
https://www.ghacks.net/2019/11/13/google-implements-controversial-manifest-v3-in-chrome-canary-80/

À voir combien de temps la V2 sera supportée et à quel point la V3 sera suivie

Check-list de migration
https://developer.chrome.com/extensions/migrating_to_manifest_v3

Overview : https://developer.chrome.com/docs/extensions/mv3/intro/m

[2021-02-18 16:18] newick opened #784 "How do we now that there are new Contributors?"
**Describe the feature/improvement**
Get notifications of new Contributors

**Target user**
Extension Users

**User stories**
As a extension user, I'd love to know when there's new Contributors.

Ideas:
- Bulle de service every n users, every n days
- Info on the extension screen
- Number on the pinned logo
- … to discuss

[2021-02-18 16:25] KaliviArf opened #785 "Remplacer "Source d'informations" par "contributeurs" sur le site et produit"
**Sur le site :**

Remplacer vos sources d'information par "Vos contributeurs"

![image](https://user-images.githubusercontent.com/78505335/108385367-e3fac000-720b-11eb-8382-449a3b3d5f18.png)

Dans le formulaire : https://form.jotformeu.com/82702852284358
Texte à remplacer : D'autres informateurs pourront également les relayer sur leur propre fil. Remplacer informateurs par contributeurs

![image]

[2021-02-18 16:26] KaliviArf commented on #785
@christpet @antoinewolff

[2021-02-18 16:30] JalilArfaoui opened #786 "As a user,  I want to be notified when new contributors are available"
**Describe the feature/improvement**
Every time the extension fetches contributors it never saw, notify the user. The notification could be
- Badge on the browser icon
- Service message
- Native (OS) notificaton
- Other …

**Target user**
General audience

**Technical implementation notes**
Detecting new contributors is easy : Each time contributors list is fetched, if we already had one in memory

[2021-02-18 16:33] newick commented on #786
duplicate with #784 😁

[2021-02-18 16:38] newick commented on #785
C'est là qu'on reparle de la mise en place de l'écriture inclusive ?

[2021-02-18 16:39] JalilArfaoui commented on #786
Argh ! Too late ! 

I’ll update yours with my (better) details 😛

[2021-02-18 16:43] JalilArfaoui commented on #786
Closed in favor of #784

[2021-02-18 16:43] #786 closed

[2021-02-18 16:45] newick opened #787 "No notification after onboarding"
**Describe the bug**
When the User installs the extension from Chrome, it is supposed to open https://www.dismoi.io/sources/ and triggered a notification.
Currently it opens nothing and if I open it manually there's is the noNotice screen displayed.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove Chrome extension
2. Close the browser
3. Open it again
4. Install it
5. See for yourself

[2021-02-18 19:18] lutangar commented on #782
After a quick discussion with @zhinu we agreed that which should be able to tell apart an automatic subscription from a manual one. This is not currently the case.

@zhinu if you wish to dig this yourself here are a few entrypoints on the tracker code :
**The Tracker interface definition**
https://github.com/dis-moi/extension/blob/master/src/types/Tracker.ts

**Code triggering the `subscribe` even

[2021-02-18 19:23] lutangar commented on #785
:door: https://github.com/dis-moi/extension/issues/new?assignees=&labels=&template=feature_request.md&title=Gender-Inclusive%20Language

[2021-02-18 19:25] lutangar commented on #786
Love to see you guys fighting to create an issue :heart_eyes:

[2021-02-18 20:46] newick opened #788 "Gender-Inclusive Language"
**Describe the feature/improvement**
As a french mainly used app we need to determine if we use (or not) inclusive language. For example `contributeur`should be `contributeur·ice`

**Target user**
Website visitors, extension User

**Fill in the following areas if you have the time...**

**User stories**
As a French visitor (woman or feeling as one) I'd appreciate that everything is not only writte

[2021-02-18 21:19] felix-lambert commented on #788
I guess most of the time we'll use english so it's more easy to be gender-inclusive. I agree that in the tech field we're not very good in creating an environment that could give the possibility for women to flourish (I experienced it during my tech studies. It's a total disaster... ). So I totally agree with your idea :)

[2021-02-19 07:44] MaartenLMEM commented on #787
I reproduced at my first essay.
Adenda :
- Notice 1299 is supposed to appear on contributors list page
- If I take a look at its stats, we can see the problem exists since February 4th
![image](https://user-images.githubusercontent.com/7824485/108473664-996e5780-728e-11eb-897a-d4e2ee1e23ef.png)

[2021-02-19 08:55] christpet commented on #788
Love this idea. We should definitely always default to inclusive language. This also applies to English in that we should always use "they/them" instead of "he/him" when talking about users, open source contributors, etc.

What other words in French need to be inclusified?

[2021-02-19 09:02] KaliviArf opened #789 "Faute Home Page Site"
Home Page / Exemple 2
Ajouter le "S" à consommateurs.

![image](https://user-images.githubusercontent.com/78505335/108482187-76957080-7299-11eb-9968-07078a2914f6.png)

[2021-02-19 09:02] KaliviArf commented on #789
@antoinewolff @christpet

[2021-02-19 09:11] #768 closed

[2021-02-19 09:16] MaartenLMEM commented on #788
On this path,
My experience is that "Yes everytime" ot "No never" are both not good answers.
For example
- On job announce it's important an easy to put in the title (how much it changes discrimination and self discrimantion on hiring process is hard to say and I try to not discuss it ). Well there is no enough place sometime some we write "rédacteur web H/F".
- On the website menu it would come t

[2021-02-19 09:18] KaliviArf opened #790 "Home Page / Eléments de langage et mis à jour visuel"
Home Page / Comment ça marche ?

1/ Remplacer sources d'informations par contributeurs

![image](https://user-images.githubusercontent.com/78505335/108483597-32a36b00-729b-11eb-91cc-e3b80a1c068d.png)

2/ Remplacer Visuel contributeurs   dans le paragraphe Comment ça marche : ancienne interface et anciens descriptifs et anciens logos
![image](https://user-images.githubusercontent.com/78505335/10848

[2021-02-19 09:18] KaliviArf commented on #790
@christpet @antoinewolff

[2021-02-19 13:47] newick commented on #788
From now on we are supposed to used `Contributeur`. I have no issue with that but we lose half the population, same as `utilisateur`.
If our goal is to make a better world, it helps to be inclusive in most of the ways so we need to find solution for issues on UI for example.

[2021-02-19 14:04] felix-lambert commented on #788
What about putting for example: "Si vous êtes abonné(e) à un(e) ou plusieurs contributeur(e)s, vous recevrez ses messages..." ? Adding parenthesis is maybe less bothering IMHO

[2021-02-19 14:06] MaartenLMEM commented on #788
We can of course use "contributrice".
_**Français, Française,**
L'année ... se termine (...) Les **Français** ont fait beaucoup d'effort. (...) C'est notre devoir de **citoyen.** (...) Je pense à toutes celles et ceux qui ont (...)_
_association de **consommateurs_**
-Les plus grands **voleurs** du XXXème siècles_
( Nobody will say how presidente wasn't Inclusive, Wikipedia wasn't too or Que Chois

[2021-02-19 14:09] newick commented on #788
And the translating team of the biggest CMS of the world use inclusive language https://fr.wordpress.org/2020/11/26/wordpress-5-6-des-changements-visant-a-ameliorer-linclusivite-de-linterface-dadministration/

[2021-02-19 14:15] felix-lambert commented on #788
Je crois que je préfère la formulation combinée à la formulation basée sur l’usage du point médian

[2021-02-21 08:57] JalilArfaoui commented on #788
I agree with @newick and @felix-lambert ...

But, another proposal for this specific case (Contributeurs in website main menu), as I understand that we want something simple for the menu :

**Contributions**

Thoughts ?

[2021-02-22 08:28] antoinewolff opened #791 "Think about a system of exchange between users and contributors"
**Feature/improvement description**
The idea is to let users and contributors communicate togeter. It can be through comments, chat system or something else.

**Target user**
The main beneficiary is the user, because this one can ask for details or advise. He can thanks also simply thanks the contributor. The contributor would also benefit cause he can have feedback and talks with his "comminauty"

[2021-02-22 10:14] lutangar commented on #791
I like the idea of more communications between users.
As for the chat system this is ambitious but is a great idea.

I sometimes wonder if __Dismoi__ should include all the great features or maybe develop side projects for some of them, for example here:

ping @J-oh-n @MaartenLMEM

I'm not sure about the *comminauty* word, is there a pun I'm missing? :sweat_smile:
As for the *ask and advice* featu

[2021-02-22 10:37] MaartenLMEM commented on #791
Hi ! Somes lights from the past :
- Some previous add-on projects were based on a close idea : talk with people on the same page. I will find the names if needed.
- Since we are contextual, remember every content pushed is a kind of interruption : "hi, I know you are busy but..."
- With the design V2 knocked together with @coffeeandpixel in 2020, DisMoi can / will be less interrupting, less "cutt

[2021-02-22 12:39] christpet opened #792 "Prepare i18n file for translation (English Version)"
Put all hardcoded text into an i18n file, and link it in the appropriate places in the UI

- Extension
- Profiles app

[2021-02-22 12:40] christpet opened #793 "Detect the language of the user's browser (English Version)"
Mechanism to recognize language of the user's browser and serve appropriate UI across the extension and profiles app

[2021-02-22 12:43] christpet opened #794 "Primarily show contributions categorized in the appropriate language (English Version)"
** User stories:

- If I am an English-speaking user, I should primarily see contributions and sources that are categorized as English-speaking

[2021-02-22 12:47] christpet opened #795 "Add "language" field to sources (English Version)"
This might be better placed in the Backend... dis moi :)

Sources need to be able to mark their language(s). We need to be able to know what language(s) a source posts in, so that later we can show posts in the appropriate language to users

[2021-02-22 12:50] #771 closed

[2021-02-22 12:51] christpet opened #796 "Create tasks in Github and assign them (English Version)"

[2021-02-22 13:04] christpet opened #797 "Deliver the right extension & profiles app version depending on the language of the user's browser (English Version)"
Implement a library to deliver the right translation depending on the language version of the browser

- If English, use English translations
- If French, use French translations
- If any other language, use English translations

[2021-02-22 13:30] christpet commented on #792
@newick @lutangar @JalilArfaoui  Where do you think is the best place to start with this? Do we need an overarching localization library?

Linked issues:
- #797
- #793
- #794

Please let me know if I missed a step!

[2021-02-22 13:30] christpet opened #798 "Translate the extension i18n file into English (English Version)"
Issue refers to the translation itself.

[2021-02-22 13:32] christpet commented on #795
Should this be a change to the backoffice @JalilArfaoui ?

[2021-02-22 13:51] lutangar commented on #771
@christpet I saw you closed this but I don't see any resolution reason nor a link to the produced *specification*.
Or is it closed because it's not relevant anymore?

[2021-02-23 08:05] christpet opened #799 "Choose i18n library (English Version)"

[2021-02-23 12:00] christpet commented on #771
Closed because #781 contains the basic spec

[2021-02-23 12:05] christpet commented on #781
I closed this because I had already broken it out into specific tasks on Github. See i18n project https://github.com/orgs/dis-moi/projects/2

[2021-02-23 12:05] #781 closed

[2021-02-24 12:57] gregoirelacoste commented on #799
@christpet @lutangar @JalilArfaoui
I did a benchmark on 4 known plugins of i18n: React-intl, React-intl-universal, LinguiJS, i18next

**React-intl**: edited by Yahoo, builds upon the intl ECMAScript API, part of formatJS
Easy to use with a component that encapsulate the app. 6 components that meet all of the requirements  (date, time, number, plural, relative, message). Each components also exist

[2021-02-24 13:18] lutangar commented on #799
It just need to wrap the text to be translated with the component then launch (with the Lingui CLI) the extrat command. This generates a translation file, with the key automatically generated for each line to translate

I did have a good experience with this one for simple needs.

I agree! I think `i18next` is the way to go, plus there is a `react` plugin.

[2021-02-24 13:33] MaartenLMEM opened #801 "Error messages when 403, etc. happen"
For extensions UI sand contributor UIs
Edge cases like 403 (connexion off)

[2021-02-24 15:17] gregoirelacoste commented on #799
Thank you for your feedback,

Another good point with i18next: we can split our translation between multiple namespaces and call those namespaces depending on the context with loadNamespaces() function or inside translator function t(mynamespace:key).

So I suggest to named the folders by namespaces and then by language, inside the root folder:

Then for each app (app / content and app / profiles)

[2021-02-25 09:37] KaliviArf opened #802 "Changement HOME PAGE Contributeurs = Eclaireurs"
**Home PAGE**

Vos sources d'informations = Vos éclaireurs

![image](https://user-images.githubusercontent.com/78505335/109130342-e7cd9b80-7751-11eb-8db9-529805b51965.png)

Exemple 1 / Texte à remplacer par :
 L'éclaireur Le Même en Mieux vous propose des alternatives à Black Market

![image](https://user-images.githubusercontent.com/78505335/109130420-003db600-7752-11eb-9c98-e7913f389239.png)

Ex

[2021-02-25 09:37] KaliviArf commented on #802
@christpet @antoinewolff

[2021-02-25 09:53] KaliviArf opened #803 "Modifications Page A PROPOS / Site Web DM"
https://www.dismoi.io/a-propos/

**Dans paragraphe 1**

![image](https://user-images.githubusercontent.com/78505335/109134290-2bc29f80-7756-11eb-98e0-ad34c50e502e.png)

Coquille à corriger : **cré** manque un é
C’est pour cette raison que DisMoi a été **cré**
![image](https://user-images.githubusercontent.com/78505335/109134359-3ed56f80-7756-11eb-95a8-7121f57ea8ee.png)

Texte à modifier /
Remplace

[2021-02-25 09:54] KaliviArf commented on #803
@christpet @antoinewolff

[2021-02-25 09:59] KaliviArf opened #804 "Modifications Menu Extension"
Dans le menu :
Remplacer Abonnement par "Eclaireurs"
![image](https://user-images.githubusercontent.com/78505335/109136170-1fd7dd00-7758-11eb-9bcb-115bb148c170.png)

Modifier "Vous suivez X sources" par "Vous suivez X éclaireurs"
![image](https://user-images.githubusercontent.com/78505335/109136102-0e8ed080-7758-11eb-9afe-4dc2dc26ede0.png)

Bouton "Gérer mes abonnements" par "Gérer mes éclaireurs"

[2021-02-25 10:03] KaliviArf opened #805 "Modifs Menu"
Dans le menu :
Remplacer Abonnement par "Eclaireurs"

![image](https://user-images.githubusercontent.com/78505335/109136170-1fd7dd00-7758-11eb-9bcb-115bb148c170.png)

Modifier "Vous suivez X sources" par "Vous suivez X éclaireurs"

![image](https://user-images.githubusercontent.com/78505335/109136102-0e8ed080-7758-11eb-9afe-4dc2dc26ede0.png)

Bouton "Gérer mes abonnements" par "Gérer mes éclaireur

[2021-02-25 10:07] KaliviArf opened #806 "Labels des onglet de la Page https://www.dismoi.io/sources [Quick win]"
@christpet @MaartenLMEM @antoinewolff

Pour cette page : je ne sais pas trop comment différencier le menu "Sources" et le menu "Abonnements"
Est ce que l'on modifie Sources en "Eclaireurs du web" et on laisse "Abonnements" ou "Eclaireurs que vous suivez" qqch comme cela ?

![image](https://user-images.githubusercontent.com/78505335/109137158-2e72c400-7759-11eb-856b-2c908f606ee9.png)

[2021-02-25 10:09] MaartenLMEM commented on #802
@KaliviArf Pourquoi la répétition "L'éclaireur" dans tous les exemples ? Est-ce ce nécessaire de la faire systématiquement ?
D'autant que ça remplace les types d'éclaireurs : association de consommateur, guide d'acaht,
Cela m'a frappé dans l'exemple : `Un particulier, éclaireur sur DisMoi, vous signale une solution gratuite` -

Sinon une proposition alternative :
`Vous aussi devenez éclaireur**s**

[2021-02-25 10:22] christpet commented on #803
Merci @KaliviArf ! I'll quickly transfer this issue over to the website repo

[2021-02-25 10:27] christpet commented on #799
Sounds great @gregoirelacoste - I will let @lutangar comment on the logic of what you propose but it sounds reasonable to me.

In your suggestion of the folder structure, by "webSite" does that refer to the Profiles app or the www.dismoi.io wordpress site?

[2021-02-25 10:35] gregoirelacoste commented on #799
@christpet thank you for the feedback, yes "website" is "Profiles", so I will name it like that

[2021-02-25 15:26] MaartenLMEM commented on #806
Je confirme :  problème identifié fin 2020 en feedback et en test utilisateur.
Je pensai qu'une issue existait déjà mais je ne l'ai pas trouvé.
**Proposition de modification des labels :**
Sources => Tous
Abonnements => Vos éclaireurs

[2021-02-26 08:36] lutangar commented on #799
@gregoirelacoste the extension is actually divided in several apps (more than 2) and I think each app deserve its own namespace.
I don't know about the implementation details but there might be some common translations, don't know if it's a relevant information and don't overthink this part.
Anyway the informations on the extension app structure is already available here:
- https://github.com/dis-

[2021-02-26 08:46] gregoirelacoste commented on #799
@lutangar hi, so I will begin by extension and create an dedicated namespace. Then I will continue by Profil with another dedicated namespace. If I see common words, i will create a third namespace : Common. If we have other needs in the future we can always create new namespaces for other apps.

[2021-02-26 10:02] lutangar commented on #799
Maybe It wasn't clear enough, but there are __3 apps __ in the `extension` repository:
- `background/`
- `profiles/`
- `content/`

Each having a separate build, so I assume, a separate namespace.
For `common` namespace I let you see if useful or not.

[2021-02-26 14:50] #799 closed

[2021-02-26 15:10] bmenant commented on #799
:tada: This issue has been resolved in version 3.62.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.62.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-02-28 20:52] newick commented on #788
I really like the order chosen by Anne-Sophie: https://blog.hello-bokeh.fr/2021/02/25/memo-de-lecriture-inclusive/

[2021-03-01 12:47] christpet commented on #806
Oui je suis d'accord. @MaartenLMEM ton proposal c'est bon ! Except that "Vos eclaireurs" should be on the left à mon avis

[2021-03-01 15:49] christpet commented on #805
Merci ! Is this a duplicate of #804 ?

[2021-03-01 15:52] christpet commented on #787
Ok very good to know thank you very much @newick  and @MaartenLMEM ! There must be some step misfiring between extension and API/backend. I propose that we push the newest version of the extension to prod and then test to see if the problem persists.

[2021-03-01 21:14] JalilArfaoui opened #808 "Prevent website to block extension display"
We know (hope) that at some point, website owners will try to use JavaScript to block or hook into our extension UI. It is pretty simple to do today, as we use a simple and predictable IFrame element to insert our content into the webpage body.

One of the technical ways to solve the issue, is moving towards the declarative content API (#275) but it does not seem to support our current use cases (

[2021-03-01 22:05] JalilArfaoui commented on #806
Alternative, si ça peut aider :

- Tous
- Suivis

[2021-03-02 08:20] gregoirelacoste opened #809 "Prepare all extension components to be translated"

[2021-03-02 08:23] gregoirelacoste opened #810 "Prepare Profiles app components to be translated"

[2021-03-02 08:40] gregoirelacoste opened #811 "Prepare i18n file for translation (French Version) for Extension"
I suggest to put all text in tranlation file, even french

[2021-03-02 08:40] gregoirelacoste opened #812 "Prepare i18n file for translation (French Version) for Profiles"

[2021-03-02 09:54] gregoirelacoste commented on #811
hi @christpet  @lutangar @JalilArfaoui

We have 2 options for the translation file keys:
- use natural keys: we will use the exact phrase in French
- use a catalog based on keys example: menu.link1 ...

The first option is probably more practical for translation work. On the English file we will see (thanks to the key) the sentence in French.
On the other hand, if we change the sentence in the con

[2021-03-02 10:08] lutangar commented on #811
Here's are a few resource on best practices (or conventions) on translation keys out there :
- https://symfony.com/doc/4.2/best_practices/i18n.html#translation-keys
- https://shopify.dev/tutorials/develop-theme-localization-organize-translation-keys
- https://dev.xwiki.org/xwiki/bin/view/Community/L10N%20Conventions

I recommend using translation keys, and I would personally tend toward using `sna

[2021-03-02 10:12] christpet commented on #811
Merci @gregoirelacoste agreed - the french should also be in the translation file(s).

I agree with @lutangar, we should use a catalog based on keys. This way we can iterate more quickly on copy in both languages (and future ones) by only changing one file.

Ditto to Johan's point on naming conventions, you can choose a convention and go for it!

[2021-03-02 10:17] MaartenLMEM commented on #788
Following this issue, here are some communication guidelines :

**Repères : ce que font les autres qui ont été confronté à la question**
Wordpress : https://fr.wordpress.org/2020/11/26/wordpress-5-6-des-changements-visant-a-ameliorer-linclusivite-de-linterface-dadministration/
Remarque : Wordpress n’utilise pas l’écriture inclusive sur son propre site.
Wikipedia https://www.numerama.com/politique/

[2021-03-02 10:27] gregoirelacoste commented on #811
thanks to both of you, i will check these recommendations and suggest you something

[2021-03-02 10:30] MaartenLMEM commented on #787
I agree with your proposal @christpet

[2021-03-02 13:05] JalilArfaoui commented on #811
I agree with @lutangar too, but open to suggestion.

I like that `Keys should always describe their purpose and not their location` but it’s harder to do it right. I often see bad French translation because for example `post` can mean `message` or `send` depending on context, so you end up with a send button with text `message` … We need to use scopes and keys to be clear enough (is it a verb or a

[2021-03-02 14:40] gregoirelacoste commented on #811
I agree with you @JalilArfaoui
I found this article with some good suggestion: https://phrase.com/blog/posts/ruby-lessons-learned-naming-and-managing-rails-i18n-keys/
and this one : https://lokalise.com/blog/translation-keys-naming-and-organizing/

It is difficult to be exhaustive without considering the location of the page. According to the lokalise article: _"namespaces can, for example, be nam

[2021-03-03 08:20] lutangar commented on #811
Looks great! :+1:

[2021-03-03 08:22] gregoirelacoste commented on #811
thanks !

[2021-03-03 18:01] lutangar opened #816 "Error sent to a tab are not recover by the content app"
**Describe the bug**
When an error is sent from the `background` app to the `content` app we can't retrieve the error from the action.

[2021-03-04 16:54] newick opened #818 "Éclaireurs's url contains their ID as a number"
**Describe the bug**
When I want to share a profile, the URL contains a number

**To Reproduce**
See for yourself https://www.dismoi.io/sources/98/newick

**Expected behavior**
I'd like something like https://www.dismoi.io/sources/newick. It's easier to remember and to share

It means that an éclaireur's name is unique, are we fine with that?

[2021-03-04 21:21] MaartenLMEM commented on #818
I am (since today) !

[2021-03-05 13:19] KaliviArf opened #819 "Afficher sur la page profil de chaque éclaireur les bulles qu’il a relayée"
Peut-on faire en sorte que sur chaque profil d'éclaireur, soit relayé les bulles qu'il a relayé.

Priorité sur l'éclaireur "Circuits courts Aquitaine" (besoin en com)
En effet, Circuits courts Aquitaine n’a aujourd’hui qu’un seule bulle, il en aurait des dizaines sur son profil si ses relais de bulles étaient affichées ...

De plus, de manière générale, cette action permettra de convaincre plus fa

[2021-03-05 13:19] KaliviArf commented on #819
@christpet

[2021-03-05 13:49] KaliviArf opened #820 "Modifier bulle qui s'affiche aux nouveaux utilisateurs sur page "Eclaireurs"
A modifier quand le wording sur le site aura été modifié pour "sources de confiance" par "Vos éclaireurs" :

Message actuel :

Message pour les nouveaux :
- Lors de l'installation, nous vous avons présélectionné plusieurs contributeurs, plutôt consensuels. A vous de compléter et faire les choix définitifs !
- Une fois que vous avez choisi vos sources de confiance, vous pouvez revenir à votre navig

[2021-03-05 13:50] KaliviArf commented on #820
@christpet

[2021-03-05 16:52] MaartenLMEM commented on #820
@KaliviArf on peut faire ces modifications nous même dans le backoffice
Mais c est bien d'être Christian dans la boucle
Ce sont des modifications mineures, donc pas de validation nécessaire, informer est suffisant.
Pour moi c est bon.
J aurais juste une préférence pour "les conseils et infos de vis éclaireurs" sur la formule plus longue "informations et conseils de".
Au fait, pour l instant il n y

[2021-03-07 07:17] JalilArfaoui commented on #788
![image](https://user-images.githubusercontent.com/3037833/110232374-88c01180-7f1d-11eb-8f63-f2c2b78df62b.png)

[2021-03-07 12:20] MaartenLMEM opened #821 "If I activate my extension, I am redirected to list of contributors page"
**Describe the feature/improvement**
If I activate my extension, I am redirected to list of contributors page

**Target user**
- Users that did not open his computer since a long time
- Users who s chrome account had to synchonize
- Other reasons that desactivate a chrome extension

**Fill in the following areas if you have the time...**
Here is wh'at happening currently : nothing : https://drive.

[2021-03-08 05:52] christpet commented on #821
Womp womp. This is a great quick win to implement. @lutangar how big does this seem to you? Xs - s - m - lg ?

[2021-03-08 06:24] christpet commented on #811
Looks like excellent work @gregoirelacoste nice job!

I am correct in assuming this is the file that needs to be translated correct? >> src/locales/en/extension.json

If @JalilArfaoui gives the OK we can push this and I'll get started on translation.

[2021-03-08 07:18] gregoirelacoste commented on #811
@christpet hi, thanks ! exactly, the file is here: src/locales/en/extension.json

[2021-03-08 08:04] lutangar commented on #811
@christpet here's the link to the file on @gregoirelacoste branch:
https://github.com/dis-moi/extension/blob/feature/i18n/src/locales/en/extension.json

From the web interface, you could:
1. edit these files,
2. create a new branch,
3. Propose a PR on @gregoirelacoste branch

[2021-03-08 08:59] lutangar commented on #821
Yes, this is totally doable, but will require yet another permission: `management`.

As before, I would recommend to make permissions `optionnal` as much as possible and I think this is a good use case.
I'll set complexity label.

[2021-03-08 11:52] JalilArfaoui commented on #821
I totally agree that extension should work fine if the user rejects the management authorization, but it’s still a nice feature

[2021-03-08 13:48] christpet commented on #811
Thank you @lutangar that's perfect! I'll create a new branch 🙏

[2021-03-08 21:32] JalilArfaoui commented on #818
I’d like that too …

[2021-03-09 07:42] KaliviArf commented on #820
Done @MaartenLMEM @christpet

[2021-03-09 07:42] #820 closed

[2021-03-09 08:33] gregoirelacoste commented on #798
@christpet you can work directly on the PR from github editor and create new commit with your translation if you are OK.
The file is here: https://github.com/dis-moi/extension/blob/feature/i18n/src/locales/en/extension.json

[2021-03-09 08:39] gregoirelacoste opened #822 "Type translation function"

[2021-03-09 09:15] newick commented on #818
Some feedbacks about someone who changed their nickname on Twitter

https://kittygiraudel.com/2021/03/08/changing-name-on-the-internet/#twitter

[2021-03-09 17:17] gregoirelacoste opened #824 "Make translatable : extension > footer routes on NotificationFooter.tsx"

[2021-03-09 17:21] gregoirelacoste opened #825 "Make the translation of the "profiles" work on the storybook"
The issue: we have to use 2 instances of i18next (extension and profile) in the same time on storybook. But it doesn't work. Only one at a time.
I suggest to keep only one I18next config file inside the locales root folder and use the same file for both (extension and profiles) app.
We will use name spaces to handle the right translation inside the 2 apps.

are you ok @lutangar @JalilArfaoui ?

[2021-03-09 20:20] lutangar commented on #825
If you're speaking about `src/app/profiles/i18n/index.ts` these files are already including all translations right? So it's already almost the case.
You  shouldn't do that refactor *just* because of Storybook though. But it might bring some clues on a better design anyway :)

[2021-03-10 15:04] zhinu opened #826 "Matomo : can't extract more than 1 months of data"
**Describe the bug**
When trying to extract a large chunk of data, I am met with an error stating "The archiving of your reports hasn't been executed recently, learn more about how to generate your reports."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to stats.lmem.net
2. Choose a data type to extract (i.e. visitors/UserIds)
3. Select a time period greater than a months (i.e. a year)

[2021-03-11 14:59] christpet commented on #795
Essentially a duplicate of #797

[2021-03-11 15:00] christpet commented on #795
Oops, never mind! This is different from #797 : This refers to showing the right contributions when the user signs up, not only the right UI language.

[2021-03-11 15:09] christpet commented on #826
@zhinu I saw you had discussed this on slack but wanted to be sure it doesn't get lost... can we get around this by just exporting 1 month at a time?

[2021-03-11 15:14] zhinu commented on #826
@christpet Theoretically yes.
However, to extract data such as who didn't login in for 2 months, it becomes tricky.

[2021-03-11 15:20] christpet commented on #826
Agreed this is tricky @zhinu. Do you know is there a user ID number we can use to identify individual users (anonymously) across time?

[2021-03-11 15:34] christpet commented on #825
Right, agreed with @lutangar that having Storybook in two languages is not in our requirements right now. That said, it definitely sounds like a better design to do things the way you describe, and there may be benefits in the future. I would suggest going forward with this change @gregoirelacoste.

[2021-03-11 15:41] christpet commented on #821
Because this requires a permission authorization @lutangar we will wait to implement it until we can put it in a batch of other improvements that also require permissions.

I'll go through the list of permissions we might need in the future and we can start adding small features like this to it! I'll add the new "needs-permissions" label to this so we remember.

[2021-03-11 15:43] gregoirelacoste commented on #825
@lutangar @christpet thx
src/app/profiles/i18n/index.ts and src/app/content/i18n/index.ts include the translation and are almost the same, idem for format.ts. So refactor this could make an organization more coherent.
More over, i think the issue with storybook i quiet big, please look the result :
![image](https://user-images.githubusercontent.com/60737012/110813254-9f04ff00-8288-11eb-8ee5-329d64

[2021-03-11 15:54] lutangar commented on #825
Sure, I think we'd better understand possible impacts (if any) once is done.

[2021-03-11 16:08] #759 closed

[2021-03-11 16:10] christpet commented on #825
Yes go for it @gregoirelacoste !

[2021-03-12 08:15] KaliviArf opened #827 "Modifier URL https://www.dismoi.io/sources/"
**Modifier URL https://www.dismoi.io/sources/**

en https://www.dismoi.io/voseclaireurs/

suite changement du menu opéré sur DisMoi.io

![image](https://user-images.githubusercontent.com/78505335/110911788-6b22eb80-8313-11eb-91cd-702d760ec4fe.png)

[2021-03-12 08:15] KaliviArf commented on #827
@christpet @antoinewolff

[2021-03-12 08:47] MaartenLMEM commented on #827
rather /eclaireurs than /voseclaireurs

[2021-03-12 15:05] gregoirelacoste commented on #822
@christpet @JalilArfaoui I just read : "react-i18next has embedded type definitions. If your project is relying on TypeScript 4.1+" but "typescript": "^3.8.3".
What do you do ? Upgrade typescript version or close this issue ?

[2021-03-12 15:19] gregoirelacoste commented on #755
Hi @newick !
I tried on chrome and firefox but i failed to reproduce the bug. Can you tell me more ?

[2021-03-12 15:36] #793 closed

[2021-03-12 15:36] #809 closed

[2021-03-12 15:36] #811 closed

[2021-03-12 16:00] bmenant commented on #811
:tada: This issue has been resolved in version 3.64.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.64.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 16:00] bmenant commented on #793
:tada: This issue has been resolved in version 3.64.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.64.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 16:01] bmenant commented on #809
:tada: This issue has been resolved in version 3.64.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.64.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-12 16:10] lutangar commented on #822
https://github.com/dis-moi/extension/issues/new?assignees=&labels=&template=feature_request.md&title=Upgrade+typescript+version

[2021-03-12 16:20] gregoirelacoste opened #830 "Upgrade typescript version"
**Describe the feature/improvement**
Upgrade typescript version to 4.1 or +

**Target user**
Developers

**Additional context**
We need at least TypeScript 4.1+ to close this issue #822

[2021-03-12 16:49] newick commented on #755
Damnit contribution team 😬 !

it seems like it's fixed! Who did that? Reveal yourself! 🚀

Good news, let's close it!

[2021-03-12 16:49] #755 closed

[2021-03-13 19:48] MaartenLMEM opened #831 "On Twitter, badge shows always one notice that matchs with one of its page"
**Describe the bug**
Badge signals one message, but there is no message when I click on the badge

**To Reproduce**
Steps to reproduce the behavior:
1.. Follow Colibri ecolo
2. Go to https://twitter.com/settings/profile
3. Go to any other page of twitter, for example https://twitter.com/home
4. Badge is still signaling one notice. Click on DisMoi Badge.

**Expected behavior**
At step 3, DisMoi bad

[2021-03-15 08:43] antoinewolff commented on #827
@lutangar, @JalilArfaoui : When I try to change the [sources page](https://www.dismoi.io/sources/) slug  for from `/sources` to `/eclaireurs` the `dismoi-profiler-app` is not working anymore.

<img width="1161" alt="Capture d’écran 2021-03-15 à 09 21 19" src="https://user-images.githubusercontent.com/12514460/111126079-93f4ec00-8572-11eb-9719-ae758162bcfd.png">

It seems that there is references

[2021-03-15 08:58] antoinewolff commented on #788
Fait avec le soutien financier de plus de 1360 contributrices et contributeurs.

[2021-03-15 09:15] lutangar commented on #827
Yeah, or `/vos-eclaireurs` at least.

Yes, this is expected. These URLs must be changed here in the extension:
https://github.com/dis-moi/extension/search?q=%27%2Fsources%27

Can you manage? Or do you need some help? @gregoirelacoste might be the right man for the job!

[2021-03-15 09:20] lutangar opened #832 "In-page targeting with Xpath"
https://trello.com/c/tcIwwjD3/477-matching-text-in-page

[2021-03-15 09:26] antoinewolff commented on #827
@lutangar : Thks for the informations. `/eclaireurs` is nicer from my point of view (less is more).
@gregoirelacoste : Your help is welcome cause I prefer to do it with synchronicity : you will push the update on extension while I'm updating the database on the website. We can do this tomorow if you want ?

[2021-03-15 09:38] lutangar opened #833 "i18next::translator: missingKey fr-FR"
**Describe the bug**
[code]

**Extension**
- Version 3.64.0
- Environment: Staging
- Installed from  Github release
(https://github.com/dis-moi/extension/releases)

[2021-03-15 10:00] gregoirelacoste commented on #827
@antoinewolff no problem, we can do that tomorow morning

[2021-03-15 10:41] lutangar commented on #832
@MaartenLMEM I played with [this notice](https://staging-notices.bulles.fr/admin/?action=edit&entity=Notice&id=1257), and put an `xpath` supposed to match the word `you` and couldn't make it match other matching contexts.
Could you try to reproduce this issue with current staging?

[2021-03-15 10:59] KaliviArf commented on #827
@antoinewolff @lutangar @gregoirelacoste nous diffusons demain matin une communication = dans le communiqué de presse préparé mon lien pointe vers l'URL "https://www.dismoi.io/sources/" = pouvez vous faire en sorte de rediriger ? ou bien (mieux ;) pouvez-vous effectuer les changements avant ce soir pour que je puisse mettre la nouvelle url dans la communication qui partira demain matin ?

[2021-03-15 11:07] gregoirelacoste commented on #827
@KaliviArf mettre en prod le jour même d'un envoi de communiqué de presse, n'est-ce pas trop risqué ?

[2021-03-15 11:10] KaliviArf commented on #827
@gregoirelacoste  oui je confirme... Donc soit aujourd'hui ou fin de semaine du coup... :)

[2021-03-15 11:30] gregoirelacoste commented on #827
@KaliviArf i'm working on it right now. @antoinewolff @lutangar I let you decide if apply this change in prod is possible. I use /eclaireurs ?

[2021-03-15 11:48] gregoirelacoste commented on #827
@KaliviArf je ne peux pas t'ajouter en reviewers, mais je t'invite à surveiller l'évolution de ce ticket sur la PR : #834

[2021-03-15 12:33] gregoirelacoste commented on #752
@christpet @MaartenLMEM hello, it looks like the same issue as #806 and closed by PR #829 ?

[2021-03-15 12:43] #833 closed

[2021-03-15 12:52] gregoirelacoste commented on #765
@christpet i handle it !

[2021-03-15 13:04] lutangar commented on #765
@gregoirelacoste we're already supposed to use the up to date `UNINSTALL_ORIGIN` env variable.
You probably should investigate about the version of the extension which were used to produce to the bug.

[2021-03-15 13:05] bmenant commented on #833
:tada: This issue has been resolved in version 3.64.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.64.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-15 13:07] gregoirelacoste commented on #765
@lutangar thx for the context, i will investigate

[2021-03-15 13:13] gregoirelacoste opened #836 "README for i18n"
**Describe the feature/improvement**
Write a README for i18n

**Target user**
Developers / Translators

**Additional context**
To understand and use effectively i18n with the right process

[2021-03-15 13:35] #827 closed

[2021-03-15 13:42] MaartenLMEM commented on #752
yes !

[2021-03-15 13:55] bmenant commented on #827
:tada: This issue has been resolved in version 3.65.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.65.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-15 13:57] christpet commented on #830
@JalilArfaoui will need your help to think through the implications here... should we upgrade our TypeScript version? is it worth it right now considering other possible work required? Let's discuss....

[2021-03-15 14:07] newick opened #837 "New onboarding"
**Describe the feature/improvement**
To help new Users to discover the extension.

**Target user**
new Users.

**User stories**
As a new User, after installing the extension from a store it opens the onboarding page.
If I come from Chrome, I have a screen explaining how to pin the extension to my browser bar. The screen is useless on Firefox.
Then I can visit the pre-chosen éclaireurs to select ne

[2021-03-15 16:39] zhinu commented on #826
So increasing the PHP memory_limit to 512M solved the issue

[2021-03-15 16:40] #826 closed

[2021-03-15 16:41] christpet opened #838 "Sentry is unusable: Fix or replace"
Problem:
Sentry is supposed to help us notice and fix bugs in the extension. Right now, it is throwing so much noise that it is unusable.

Question to answer:
How do we fix Sentry? What is the cost?
What is the cost of replacing Sentry?

[2021-03-15 16:49] zhinu opened #839 "Matomo : Some requests come with no data"
**Describe the bug**
When creating a certain segments in Matomo, their query results in "no data for this result". Although it should be obvious some data should be shown.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Visitors' > 'User IDs'
2. Click on 'All Visits' > 'add new segment'
3. Click on 'Actions in visit' > Scroll down to 'Visitors/Days since last visit'
4. Choose greater

[2021-03-15 17:28] lutangar commented on #838
I actually found the related issue there:
https://github.com/dis-moi/backend/issues/308

[2021-03-15 17:30] MaartenLMEM commented on #832
All right on my side. Couldn't reproduct first bug with toto, neither a bug with you.

[2021-03-15 17:40] MaartenLMEM opened #840 "Button label "common.cancel" afterI unlike notice (only on firefox staging)"
**Describe the bug**
On staging firefox 3.64.0, I clicked on thumb down. The countdown appeared but the button has a label I can"t understand : _common.cancel_
I could reproduce the bug on chrome production 3.61.0

**To Reproduce**
Steps to reproduce the behavior:
0 . Install staging firefox 3.64.0,
1. Go to https://www.amazon.fr/Weddingstar-protection-r%C3%A9utilisable-Couvercle-poussi%C3%A8re/dp

[2021-03-15 22:53] JalilArfaoui commented on #838
Replacing Sentry won’t do any good here … If we want to hear the signal, we have to lower the noise …

I’ll try to tackle https://github.com/dis-moi/backend/issues/308 this week …

[2021-03-15 22:59] JalilArfaoui commented on #788
Ça me va aussi :-)

[2021-03-16 09:40] christpet commented on #838
Fair enough @JalilArfaoui it is a useful tool to have, so let's do the minimum to make it work. Let's keep it focused on https://github.com/dis-moi/backend/issues/308 ... this is not super top priority, but would be a nice-to-have in the next few weeks.

[2021-03-16 09:45] christpet commented on #838
Closing this in favor of https://github.com/dis-moi/backend/issues/308

[2021-03-16 09:45] #838 closed

[2021-03-16 09:57] felix-lambert commented on #769
Do we know when (where) this bug might occur?

[2021-03-16 10:27] christpet opened #842 "Tell apart subscriptions created automatically from subscriptions done manually"
**Describe the bug**
Right now inside the extension, occasionally users will inexplicably lose all their subscriptions. So we have a script running that automatically adds a bunch of subscriptions to any account that has zero subscriptions.

The problem is that these automatic subscriptions are clogging up Matomo and preventing us from knowing the real stats of when and how users subscribe to cont

[2021-03-16 10:28] christpet commented on #782
Since the question was answered, I am closing this issue in favor of the more specific issue https://github.com/dis-moi/extension/issues/842

[2021-03-16 10:28] #782 closed

[2021-03-16 10:28] lutangar opened #843 "User account"

[2021-03-16 10:30] christpet commented on #843
Nice. This is specifically user authentication for users who want to post a contribution from the extension, correct?

[2021-03-16 10:38] lutangar commented on #843
We might need todo some product design in order to make this work, let's track this here.

[2021-03-16 10:39] christpet commented on #843
Ah so this is referring to user accounts through all of the different sides of the product, as you mentioned @lutangar in https://github.com/dis-moi/backend/issues/324 :

- Contribute from the extension
- Bulk contribution
- Contribution interface

So this is in the "product design" phase and needs technical specifications. I'll assign it to myself to push to break it down into smaller units.

[2021-03-16 10:51] lutangar commented on #782
@christpet if not done yer, we should create a document somewhere from these informations and for future use.
This document could also include info on the backend tracked events and data in general.
Could someway be linked to some of the privacy content we already have.

[2021-03-16 10:52] #840 closed

[2021-03-16 10:59] christpet opened #844 "Cohort-level analysis of user data"
**Describe the feature/improvement**
We want to be able to see a single cohort of users interacts with Dismoi over time, on average. Then compare that cohort to other cohorts.

A cohort is a group of users who all signed up within the same timeframe - for instance, users who signed up in August 2020 would be the "August 2020" cohort.

We want to be able to tell the following things about each coho

[2021-03-16 11:00] christpet commented on #832
👀  Currently doing a round of testing...

[2021-03-16 11:05] christpet commented on #839
@zhinu I am assigning this to you because it needs a little more context around:
- Your speculations for why this could be occurring
- How important is it to fix this in order to achieve the objectives outlined in https://github.com/dis-moi/extension/issues/844 ? Is there a workaround in the meantime?

Please just write a quick note here answering both questions then ping me so we can move it forw

[2021-03-16 11:13] lutangar commented on #769
@felix-lambert Sentry is supposed to give you some context (at least code context), if it doesn't there might be config issue.
But if I remember correctly, might be linked to the `src/app/content/externalClickHandler.ts`

If you're asking on which pages, I have no clues.

[2021-03-16 11:15] bmenant commented on #840
:tada: This issue has been resolved in version 3.65.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.65.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-16 11:16] christpet commented on #779
We have clarified this as follows:
- We need to have cohort-level analysis of our data. Here is the related issue: https://github.com/dis-moi/extension/issues/844
- We need to be able to tell when people subscribe. Here is the related issue: https://github.com/dis-moi/extension/issues/842

So closing this issue as it has been broken down into 2 smaller ones.

[2021-03-16 11:16] #779 closed

[2021-03-16 11:38] lutangar commented on #843
In those usecases, as extension user who want to contibute, I can authenticate in a webpage directly.
Because all really contextual informations (current webpage, even the message I started to draft...) can be saved without authentification a webpage.

Good question, let's discuss about this!

[2021-03-16 13:08] christpet commented on #832
@MaartenLMEM if you have tested and you feel good about it, that is fine with me.

I have not been able to reproduce the desired functionality in my testing, but this is probably because I'm not doing the targeting correctly.

Here's the process I took in the staging backoffice and the results:

### Process to reproduce:
1. Create a bulle with the following fields:
2. - Message: "Do you know what

[2021-03-16 13:15] christpet commented on #837
@gregoirelacoste here is an important project where we need your help. Are you up for it? :)

@newick is working on integrating this animation & video, but he needs some help with the functionality. You can see what he needs help with above.

Feel free to ping Erick or me with questions!

[2021-03-16 13:18] MaartenLMEM commented on #832
@zhinu is most qualified to be sure you did not make a mistake in your targetting.

[2021-03-16 13:21] gregoirelacoste commented on #837
@christpet thx for the brief, I start working on it right now

[2021-03-16 13:37] zhinu opened #846 "Dis moi"
**Describe the feature/improvement**
What will it do, and what's the main benefit?

**Target user**
Who is the intended user or beneficiary of this?

**Fill in the following areas if you have the time...**

**User stories**
How will the user experience this feature/improvement?
1. The user can click a button in [e.g., the extension]
2. User then sees a screen that says [something]
3. ...

**Techni

[2021-03-16 13:43] gregoirelacoste opened #847 "404 error after installing the extension"
**Describe the bug**
404 error After installing the extension from chrome or firefox, redirection is wrong. User is redirected to /sources?pk_campaign=installed instead of /eclaireurs

**To Reproduce**
Steps to reproduce the behavior:
1. Install app from store
2. Valid
3. See the 404 error

**Expected behavior**
See all the eclarieurs page

**Screenshots**
![image](https://user-images.githubuserco

[2021-03-16 13:53] gregoirelacoste commented on #847
@antoinewolff try this link : https://www.dismoi.io/sources?pk_campaign=installed

[2021-03-16 13:54] gregoirelacoste commented on #847
@antoinewolff handle the redirection from wordpress but it would be nice to change this link

[2021-03-16 13:57] zhinu commented on #846
An example is with this link :
https://www.darty.com/nav/extra/offres?codic=4738454

the extension in staging (with amazon antidote) should have a bubble pop up when clicking on "OFFRE RECONDITIONNEES (10)". However it doesn't show. only if you go to another tab and come back to the tab!

[2021-03-16 14:01] christpet commented on #847
Thank you for flagging this @gregoirelacoste , just heard from Antoine that he is on it.

[2021-03-16 14:07] antoinewolff commented on #847
Done !

`https://www.dismoi.io/sources?pk_campaign=installed` is redirected to `https://www.dismoi.io/eclaireurs/?pk_campaign=installed`

I think that the "/" is added by wordpress... I don't see how I can remove it. I think there is no difference on the interpretation of the two url.

[2021-03-16 14:19] antoinewolff commented on #847
@gregoirelacoste : I let you close this issue.

[2021-03-16 14:27] christpet commented on #846
@lutangar @felix-lambert could one of you take a stab at figuring out the general size of fixing this bug? XS - S - M - L - XL

[2021-03-16 15:07] lutangar commented on #847
I agree. This is not truly fix as long as we are pointing at the wrong URL.
If it's happening in production, we probably just need to publish a new version of the extension to be in sync with profiles app recent changes.

[2021-03-16 15:14] gregoirelacoste commented on #847
I will waiting for the new release of the extension before close this issue

[2021-03-16 15:20] lutangar commented on #846
It's also triggered on each URL change if I'm correct, so it's suppose to work on website taking care of changing the URL when the user opens a tab (so called SPA and friends). But as you're clearly stating this is flawed and doesn't cover every use-cases.

One possible implementation of your suggestion could rely on [MutationObserver](https://developer.mozilla.org/fr/docs/Web/API/MutationObserver

[2021-03-16 15:36] gregoirelacoste commented on #837
@lutangar @JalilArfaoui I suggest to create an folder OnBoarding inside components>organisms and begin to work with storybook.
I will dispatch the new atoms in the right folders later, ok for you ?

[2021-03-16 15:39] lutangar commented on #837
Do as you see fit. As long as the components end up in the right folder, fine by me.

[2021-03-16 15:46] felix-lambert commented on #769
Did anyone encounter this bug for real?

[2021-03-16 15:50] felix-lambert commented on #769
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Too_much_recursion

[2021-03-16 15:53] felix-lambert commented on #769
Can someone tell me where we are using a recursion function?

[2021-03-16 16:01] lutangar commented on #769
One thing you may have overlooked is version number:
`3.25.0`
You might want to check which commit is that and see what was added back then... yeah that's almost archaeology.

[2021-03-16 17:49] JalilArfaoui commented on #784
I really miss this !

[2021-03-16 17:59] christpet commented on #819
Thank you for this, @KaliviArf, great idea! The next step is to figure out how to display this. Are we thinking of doing it similarly to twitter retweets?
![image](https://user-images.githubusercontent.com/32476396/111357263-72d2ef00-8689-11eb-9565-fd60c29df607.png)

We can just put a retweet symbol and a bit of text on the top saying "relaye".

I'm going to wait a bit to put this in front of the

[2021-03-16 18:12] felix-lambert commented on #769
Maybe here? https://github.com/dis-moi/extension/compare/v3.24.0...v3.25.0

[2021-03-16 19:33] JalilArfaoui commented on #188
@gregoirelacoste we talked about this …

[2021-03-17 08:33] lutangar commented on #188
Yeah, when it's been a while, and I come back working on the extension, I realized how painful it's to work without it.

[2021-03-17 09:22] #804 closed

[2021-03-17 09:22] #806 closed

[2021-03-17 10:06] gregoirelacoste commented on #836
@lutangar ideas :
"_Would love to see the following headlines in it:
How to submit a typo/wording fix
How to add a new language
..._"

[2021-03-17 10:13] lutangar commented on #846
Dom changes should only be observed to rerun the `xpath` matching, not the entire matching engine.

[2021-03-17 10:17] felix-lambert commented on #769
https://sentry.io/organizations/lmem/issues/1804230636/events/?project=1404847

[2021-03-17 10:19] felix-lambert commented on #769
https://stackoverflow.com/questions/6879238/a-too-much-recursion-error-in-firefox-only-sometimes

[2021-03-17 10:51] bmenant commented on #804
:tada: This issue has been resolved in version 3.66.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.66.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-17 10:51] bmenant commented on #806
:tada: This issue has been resolved in version 3.66.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.66.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-17 10:55] felix-lambert commented on #769
Sorry giving up this issue. Might take too much time for me to understand and reproduce the bug. I can see generators in the code... I think it might be for someone knowing well the codebase of the extension @lutangar maybe?

[2021-03-17 11:03] lutangar commented on #769
I think gave up a while back already...
Nonetheless, the possible outcome I see right is to ignore this error from Sentry. Could you make of this before moving on to smthing else?

[2021-03-17 12:31] felix-lambert commented on #769
Ok but I think it could be fun to solve this issue together. It could trigger a problem in the code. We might need multiple brains for this. I let @christpet handle the priority of this issue. The ideal situation would be to find the situation where this bug was encountered for real

[2021-03-17 16:34] MaartenLMEM opened #850 "If there are more than 2 notices on a page, they are invisible"
**Describe the feature/improvement**
Let see that there are more than 2 notices on a same page and give access to them

**Target user**
DisMoi addon users

**Fill in the following areas if you have the time...**

**User stories**
How will the user experience this feature/improvement?
1. The visit a page where there a 3 (or more) notices matching
2. User can see the two first preview, and I can see

[2021-03-17 17:07] christpet commented on #850
Ah this is an interesting one, thank you @MaartenLMEM. Since we are getting complaints about it, it's a good idea to bump it up in priority.

Maybe @gregoirelacoste you can take a look at this when you are finished with #837 ?

[2021-03-17 17:09] christpet commented on #850
Maybe @newick can weigh in here as well, do we have a scroll design ready for inside the extension?

[2021-03-17 17:52] christpet commented on #812
Closing this because it's done!

[2021-03-17 17:52] #812 closed

[2021-03-17 17:52] christpet commented on #810
Also closing this because it's done!

[2021-03-17 17:52] #810 closed

[2021-03-17 17:53] christpet commented on #801
To clarify... Is this issue asking for a design to be created for those edge cases? Or do the designs already exist and they need to be implemented? @MaartenLMEM

[2021-03-17 17:57] christpet commented on #816
@lutangar I think we might need some more information here in order to understand how serious/urgent this bug is. Or was it fixed already by #800 ?

[2021-03-17 18:11] christpet commented on #769
Good call to abandon @lutangar and @felix-lambert. Too much effort, too little impact. Let's come back to it later and use Felix's process. Thanks for looking into it!

[2021-03-17 20:29] newick commented on #850
@christpet scrollbar is default browser one.
I can go on this one before the end of the week.

[2021-03-17 21:20] MaartenLMEM commented on #850
Sorry but actually the solution I suggested (scrollbar) seems me not enough.
Because as an web user, if you I don't see a part of the third item, scrollbar will probably be not enough to make it clear to my mind there is a third item.
Well you may say : it's better to have a scrollbar than nothing. And let's see how people deal with it.

[2021-03-17 21:28] MaartenLMEM commented on #801
Yes UI designs already exist. But, If I remember correctly,  they are quite general. We did not make a list of kind of errors, on which screens, it s just general. Neverthelss, I think I would be an improvment, even if it doesn't precisely fit to each user situation. It's better than no feedback.
@coffeeandpixel knows more about this matter then I do. He can provide 1st designs, etc.

[2021-03-17 21:54] MaartenLMEM opened #851 "Bubbles display order for a same page"
**User issues**
- I don"t know why a bubble is diplayed before another
- I would like to see most relevant bubbles as first

**Describe the feature/improvement**
Different options to define the ordre :
1. Display as first last modified bubble, and so on.
2. Display bubble as a function of there open rate (click on detail / displayed) : highest rate is diplayed as first.
I prefer second option.
But

[2021-03-18 07:12] gregoirelacoste commented on #850
@MaartenLMEM  Firstly, without going through the UI, announcing the number of bubbles on the page + scroll message, might be enough?

[2021-03-18 09:21] MaartenLMEM commented on #850
I don't know what you mean by "scroll message".
Also @christpet  and Marco are better qualified than me to answer this question.
I can give insight about past experience and choices.

[2021-03-18 09:48] newick commented on #850
I think that some quick wins could be a scrollbar, and work with @coffeeandpixel about infos (which is a great idea @gregoirelacoste!)

[2021-03-18 09:59] gregoirelacoste commented on #850
@MaartenLMEM sorry it wasn't clear. I meant a label in just abover "poster" btn, which say : "scroll to see more bulles". It appear only if there is more than 2 bulles on this page, it's a quick win.
thx @newick

[2021-03-18 10:15] christpet commented on #850
Agreed @gregoirelacoste and @newick , that's a good quick win. We can iterate from there.

@newick let's stick with the default browser scroll bar, and you can use your judgment to put the "scroll to see more" label where it works best.

So (please correct me if I'm wrong) the next steps are:
1. @newick to integrate the interface (after he is done with the onboarding integration)
2. @gregoirelacos

[2021-03-18 10:16] gregoirelacoste commented on #850
@christpet perfect for me

[2021-03-18 10:43] antoinewolff opened #852 "Make the contributors js app works with english version of the website"
**Describe the feature/improvement**
- 1srt and urgent : The contributors js app must be displayed on the URL https://www.dismoi.io/en/guides/
- 2nd : We must thinks about the contributor's profile pages translation strategy and release it.

**Target user**
The website visitors

[2021-03-18 11:11] christpet commented on #851
Good suggestion, thanks @MaartenLMEM . Let's keep this in the backlog until we are clear on the impact it will have.

[2021-03-18 11:18] christpet commented on #801
Okay thanks, this could be a relatively easy one to implement. I'll put it in the "to do" column for anyone to take when they have a moment.

In the meantime, @coffeeandpixel could you point us to those designs?

[2021-03-18 13:42] zhinu opened #855 "The Automatic subscription process has various negative implications"
**Describe the bug**
When a user has 0 subscriptions an automatic process takes place and subscribe the user to 20 accounts.

**Context**
Apparently, this process was put in place because some accounts randomly would fall to 0 subscription.

**The underlying issue**
As the project moves forward, we need to understand more our users. The automatic subscription process has several negative implicati

[2021-03-18 13:56] christpet commented on #855
This is important because currently, an unknown portion of our userbase is getting their subscriptions deleted then re-subscribed with the same 20 accounts. This could be causing some uninstalls, since our most common complaint is that "posts are not relevant".

The mission here as @zhinu has said (thank you) is to
1. Figure out what is causing users subscriptions to go to zero (and possibly how m

[2021-03-18 14:37] MaartenLMEM opened #856 ""Invalid date" label diplayed on all "contribution phares" shown on all profile pages"
**Describe the bug**
instead of creation date there is writen "invalid date"
It working on local and staging but not in prod.
Other dates for "last contribution" is working fine

**To Reproduce**
- Go to any profil page
- scroll to contribution phares examples

**Expected behavior**
creation date

**Screenshots**
![image](https://user-images.githubusercontent.com/7824485/111643453-43de8980-87ff-11

[2021-03-18 14:57] MaartenLMEM opened #857 "Contributions phares are not clearly presented with context when I scroll"
**UX problems**
On desktop :
- When Is visit a profil page with more than one highlighted contribution, the second one is shown with no context before I look to it.
- I have to read in the bubble in the screenshot have any idea about the message
Example : https://www.dismoi.io/eclaireurs/16/Le-Meme-en-Mieux

See screenshot below and look at Lilo screenshot : as user, aren't you expecting a title o

[2021-03-18 15:59] gregoirelacoste commented on #852
for the second i will catch the en/ path and use it with  i18n.changeLanguage(lng) to display english
@antoinewolff I need all the new "en" URL to set up the routes

[2021-03-19 07:34] #825 closed

[2021-03-19 07:35] #797 closed

[2021-03-19 09:01] gregoirelacoste opened #860 "Invalid Date on featured notice"
**Describe the bug**
The date are all invalid for the featured notices on profiles app for an unknown reason.
It working on local but not in prod.
Other dates for "last contribution" is working fine

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.dismoi.io/eclaireurs/16/Le-Meme-en-Mieux
2. First featured notice
3. Bottom
4. See error

**Expected behavior**
Featured notices

[2021-03-19 10:14] MaartenLMEM opened #861 "Chrome extension blocked on Chloé and Maarten's computers and probably others"
**Describe the bug**
On Chloé's computer on every page, DisMoi is grey : no notice, no interaction possible.
It's possible she had same problem on other computer, but not sure.

**Vidéo**
This Vidéo shows bug but also informations from extension background.
It has been recorded during our call : https://drive.google.com/file/d/1kqcqnqXR5raQYVGhpUAObLNK6Dc7tUTC/view

**To Reproduce**
I don't know

[2021-03-19 10:23] zhinu commented on #832
Quand je teste, la bulle n'apparaît pas sur la page.
Le xpath en lui même n'a pas de problème. (il est d'ailleurs un peu trop restrictif, donc il ne devrait pas apparaître).

[2021-03-19 10:25] zhinu commented on #839
No idea as to why it doesn't work... But we are working on a workaround with csv extracts :)
However, on the long term it would be nice to understand why.

[2021-03-19 13:27] newick opened #862 "Update Storybook"
**Describe the feature/improvement**
Get the last version with clean environnement

**Target user**
Devs

Ideas:

- [x] Go from 5.3.14 to actual (6.1.21)
- [ ] Find a way to have DisMoi's font loaded per default
- [ ] Clean the abrorescence
- [ ] Clean colors variables name
- [ ] Update list of every buttons with their props
- [ ] Check why random avatars don't exist anymore

## Atoms
- [ ] Button

[2021-03-22 08:00] lutangar commented on #851
No matter what we choose to implement here, the algorithm behind this "content prioritization algorithm" (editorialization?! cc @christpet is that a real word? ) should be publicly documented in plain english.
These "rules" should be public knowledge.

[2021-03-22 08:14] lutangar commented on #855
I totally agree this is tiresome and the hack is nothing more than a hack.

This is long "known" issue of our extension and may happens randomly on any extension as well.
(I'm going to add some previously documented content & links here later to bring some light on the why)

Even if I'd like to avoid forcing user to create an __account__, this is only long term solution to keep track of one's subs

[2021-03-22 09:07] lutangar commented on #832
Meaning it's not an issue after all? If that's the case, feel free to close this issue.

[2021-03-22 09:11] lutangar commented on #839
From your screenshot, it seems it's not an extension issue but either an issue with `lmem.net` or matomo itself.
We might want to create an empty repository or even a fork of matomo in the `dis-moi` org and track matomo issues there.

[2021-03-22 09:35] MaartenLMEM commented on #855
I tried to find other chromium add on owners with same issue.
If found none recent in [Chromium apps google group.](https://groups.google.com/a/chromium.org/g/chromium-apps/search?q=storage)
Just [some threads on stack overflow](https://stackoverflow.com/search?q=%5Bgoogle-chrome-extension%5D+storage&s=60d5f249-2e78-40f3-a566-f47fec197048), but hard for me to detect a relation with our situation.

[2021-03-22 10:53] zhinu commented on #855
In [extension/package.json](https://github.com/dis-moi/extension/blob/c3d6b3fea79dc36c48b25b90f2b345614cb856ae/package.json), chrome storage is referred to as "chrome-storage-local". Could we also use `chrome.storage.sync`, so those with chrome sync have a unique userid, and the same settings across all devices. Maybe it will mitigate some loss.

[2021-03-22 15:16] MaartenLMEM commented on #861
Sorry, the video has been stopped just before it shows background :-/

[2021-03-22 15:33] lutangar commented on #855
## Browser storage

As stated in *permissions* we are already using the *sync storage*:
- https://github.com/dis-moi/extension#permissions

It was implemented in #529

I sometimes suggested to imagine how the extension would work if it was stateless...

## Data loss simulation
To simulate a data loss open extension `background` window and type in the `console`:
[code]
And then hit `F5`.

## Simila

[2021-03-22 20:44] MaartenLMEM commented on #766
Hi @christpet, I do not understand why it s in this column prod chrome.
On mobile, I still see a distorted avatar on mobile, for example here : https://www.dismoi.io/eclaireurs/16/Le-Meme-en-Mieux

[2021-03-22 20:51] MaartenLMEM commented on #860
looks like we discovered it same day https://github.com/dis-moi/extension/issues/856

[2021-03-22 21:10] newick opened #863 "Fonts aren't loaded in Storybook"
**Describe the bug**
Currently the DisMoi's fonts aren't loaded in Storybook.
It can be useful to have them without having to specify it everytime we need them.

[2021-03-23 08:44] #824 closed

[2021-03-23 08:49] lutangar commented on #847
There was a release 4 days ago :
https://github.com/dis-moi/extension/releases

Is this still relevant?

[2021-03-23 09:01] gregoirelacoste commented on #847
@lutangar I just tested, it's good it's fixed

[2021-03-23 09:01] #847 closed

[2021-03-23 09:29] gregoirelacoste commented on #860
@MaartenLMEM indeed, i work on it today, i close this one and l take yours as a reference

[2021-03-23 09:30] #860 closed

[2021-03-23 10:05] gregoirelacoste commented on #856
@JalilArfaoui @lutangar I think there is an issue with notice API during Contributor get request.
Prod received only form notices.bulles.fr/api/v3/ :
[code]

Staging receive from https://staging-notices.bulles.fr/api/v3/ :
[code]
not knowing the backend yet, I would like some help to finalize this

[2021-03-23 12:59] lutangar commented on #856
I can take it from here @gregoirelacoste
Could you paste here both (staging/prod) GET URL  you're mentioning here plz?

[2021-03-23 13:15] gregoirelacoste commented on #856
@lutangar
GET which retrieve the pined notices for lmem :
staging: https://staging-notices.bulles.fr/api/v3/contributors/16
prod: https://notices.bulles.fr/api/v3/contributors/16

[2021-03-23 13:34] lutangar commented on #856
Nice catch,  what you found out on the `pinnedNotices` data structured was actually fixed in.... december 2020

But the actual running version of the backend age back to.... :scream: november the 10th.
This is crazy and should never happens again. I'm going to deploy the backend and hope #313 will go forward with an automated process!

[2021-03-23 13:34] MaartenLMEM opened #961 "From proding, we're sending event to production db on the backend whereas we shouldn't"
**Problem :**
Contribution is doing many test and improvment on notices. Also product team need to test bugs etc.
All these behaviours are counted in backoffice statistics.
It impacts data reliability for bubble with less than 100 actions and can mislead or make impossible to make decisions based on little samples.

**Solutions**
1. Analytics opt-ou preference in extension : https://github.com/dis

[2021-03-23 14:12] christpet commented on #832
Ok, we will test this one more time in proding tomorrow then I'll close it!

@zhinu this is a call to action for you to improve the XPATH documentation - the goal of that documentation should be that anyone can pick it up and test if it is working or not, no extra background info required. ;)

[2021-03-23 16:43] zhinu commented on #832
Did several testing, and it works!

[2021-03-23 16:43] MaartenLMEM commented on #861
Good news @christpet I could reproduce the problem on my computer.
I am pretty confident Chloé met same as I did.
[Here is the video]( https://drive.google.com/file/d/1ln_OSSynEQHmTI3aq7cXFRBYUESr9ZfV/view)
To summarize what probably happend :
1. Backend had a problem
2. Extension received error 524
3. Extension is blocked

Of course I can't be 100% sure about step 1. Another cause could be that m

[2021-03-23 16:49] zhinu commented on #832
Made several tests, didn't find any issue (both chromium & firefox)
![image](https://user-images.githubusercontent.com/75084558/112185028-1c712d80-8c00-11eb-9647-8b3a349f88c7.png)

[2021-03-23 16:51] MaartenLMEM commented on #861
Here is a [video on Firefox ](https://drive.google.com/file/d/1lhgv-wLCddcQ7MgIKGEMgKQMK-lFO_tm/view): same problem, probably same reason as previouw video on chrome

[2021-03-23 17:31] lutangar commented on #856
Fixed by deploying new backend version.

[2021-03-23 17:31] #856 closed

[2021-03-23 17:46] lutangar commented on #787
I didn't see the contribution as well, but I wonder if the contribution was updated since the *profiles* page moved to `/eclaireurs`.
Could you provide the `id` of the contribution?

[2021-03-23 17:50] MaartenLMEM commented on #787
Notice 1299 : I just updated it to /eclaireurs

[2021-03-24 09:52] MaartenLMEM commented on #861
Some news :
- This morning I opened my browser and the problem was still there (I did not switch off my computeur since yesterday)
- So I restarted my computer. Then it was ok.
**Conclusion** : For people who don't switch off their computeur but just enter it into standby mode, their add on is likely to be blocked for an indefinite period.

[2021-03-24 11:19] gregoirelacoste opened #865 "Make storybook use assets"
**Describe the feature/improvement**
Storybook don't handle for moment, make it possible

**Target user**
Developers, UI

**Technical implementation notes**
add `-s ./src/assets` to package json storybook script

[2021-03-24 11:21] gregoirelacoste commented on #837
@newick all is done but for the moment we can't see the video on storybook. Storybook do not handle assets for now. You can see the result on profiles : http://localhost:8080/eclaireurs?pk_campaign=installed
I just create new issue and will fix it in few moment  #865 cc @christpet  @lutangar

[2021-03-24 12:49] christpet commented on #861
Thanks for the great work @MaartenLMEM to reproduce and narrow it down... it looks like you're right, it seems like there's an issue coming from the backend. I will ping @JalilArfaoui to look into this when you're able 🙏

[2021-03-24 13:23] #863 closed

[2021-03-24 13:23] #865 closed

[2021-03-24 14:31] lutangar commented on #861
No matter what's issue the extension is running into it should be able to gracefully handle it.

[2021-03-24 14:41] christpet commented on #856
Confirmed fixed in staging-firefox 👍

[2021-03-24 14:48] christpet commented on #852
@gregoirelacoste this is a good next one to focus on - looks like "/en/guides" is redirecting to "/eclaireurs" currently.

[2021-03-24 14:53] gregoirelacoste commented on #852
@christpet ok, i do that tomorrow

[2021-03-24 17:20] zhinu opened #868 "Issues faced with Matomo"
#Issues faced with Matomo

### csv (and TSV) extracts are not compatible
#### - Goal
I was trying to get some data per notices
i.e.

| bullesID |  | week 34 | week 35 |
|--|--|--|--|
| 001 | pop-up displayed | 15 | 19 |
| 001 | popup already displayed | 75 | 100 |
| 001 | clicked on | 5 | 7 |
| 001 | Ratio displayed/click | 33.3% | 36.8% |
 | 001 | Ratio diff from last week | +2.4% | +10.5% |

###

[2021-03-24 17:24] zhinu opened #869 "Get dated information for notices in the backend"
**Describe the feature/improvement**
In order for the contribution team to have proper KPIs, we need some information (per day/or week) on notices.
***We need
- Notices displayed
- Notices clicked on (details)
- clicks on links within notices
-- To be able to extract those data in a weekly manner (spreadsheet format would be optimal)

[2021-03-24 17:37] MaartenLMEM commented on #869
related to https://github.com/dis-moi/backend/issues/328

[2021-03-24 17:42] christpet opened #870 "404 on "proding-profiles.dismoi.io/eclaireurs""
**Describe the bug**
"The requested URL was not found" when navigating to https://proding-profiles.dismoi.io/eclaireurs?pk_campaign=installed directly after installing the Firefox Proding addon, version 3.67.2

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Firefox Proding version from the latest release version in GitHub
2. Drag the file into Firefox (with no other Dismoi versi

[2021-03-24 17:44] christpet commented on #870
Pinging @lutangar @gregoirelacoste @felix-lambert - which one of you would like to take this? :)

[2021-03-24 17:45] christpet commented on #765
@gregoirelacoste maybe this is related? https://github.com/dis-moi/extension/issues/870

[2021-03-25 07:03] gregoirelacoste commented on #870
@christpet i do

[2021-03-25 08:51] gregoirelacoste opened #871 "Fix(i18n): title"
**Describe the bug**
Some titles are not translated

**To Reproduce**
1. see https://github.com/dis-moi/extension/pull/814#issuecomment-806011047

**Expected behavior**
Titles display english text

**Screenshots**
see : https://github.com/dis-moi/extension/pull/814#issuecomment-806011047

[2021-03-25 08:52] gregoirelacoste commented on #871
@christpet could you send me the translation for these titles ? I will integrate them directly

[2021-03-25 10:31] MaartenLMEM opened #872 "Allow threads in DisMoi"
**Problem and stakes**
Lot of users are answering to contributions bu using 'contribuer' button. For them it's a way to complete it or to share an different point of view.
But today :
1. There is not a real "answer" button (so you can imagine a lot more users would answer if it exists)
2. When I write my message to answer so somebody, I cannot see the message I am answering to
3. It's not live, it

[2021-03-25 11:41] MaartenLMEM opened #874 "Trash, heart and report issue instead of thumbs up and down"
**Problem**
Currently thumbs up and down are not fitted to our users experience :
1. If user follows a link in detail view, he probably will never come back on this detailed view to tell it was great or disappointing
2. In current UI, thumbs are not seen by many users, beacause it is not close to the text in many cases.
3. If I look at a message and I juste do not want to see it again, there is no

[2021-03-25 13:19] christpet commented on #851
@lutangar that's a good point, a good +1 for transparency.

[2021-03-25 13:22] christpet commented on #855
Thank you for the detailed look @lutangar , super helpful. Do you mean logging like what we get with Sentry, or something more customized?

[2021-03-25 13:29] christpet commented on #872
Great suggestion @MaartenLMEM, this is a great feature to scope out. Let's have a discussion about how to implement this technically then size it out and put it into the roadmap.

[2021-03-25 13:30] christpet commented on #874
Really good idea to solve the problems you outline. Let's get some specs around this and then put it in the roadmap.

[2021-03-25 13:33] christpet commented on #192
Has this been considered and dispatched with @lutangar ? If so we can close the issue!

[2021-03-25 13:35] christpet commented on #210
@lutangar @JalilArfaoui how critical is this? Can we close it or shall we leave it in the backlog?

[2021-03-25 13:37] christpet commented on #211
Looks like this isn't affecting the user experience at all, just a slight performance improvement. I'm going to close this unless you have any objections @JalilArfaoui @lutangar

[2021-03-25 13:39] christpet commented on #241
Ok closing since no impact... we can reopen if we think it is having an impact!

[2021-03-25 13:39] #241 closed

[2021-03-25 13:40] christpet commented on #256
No action on this for 2 years = closing until further notice!

[2021-03-25 13:40] #256 closed

[2021-03-25 13:43] christpet commented on #257
Looks like this might be related to https://github.com/dis-moi/extension/issues/861 @lutangar @JalilArfaoui ?

Otherwise it looks like there's nothing else to do under this issue & i'll close it.

[2021-03-25 13:46] christpet commented on #272
Not sure what this means... unless you have an objection @JalilArfaoui I'll close this one for now.

[2021-03-25 13:46] #272 closed

[2021-03-25 13:47] christpet commented on #275
Ok, so this is prevented by stalled development within the Firefox team? I'll close it and if you have any objections, please re-open 👍

[2021-03-25 13:47] #275 closed

[2021-03-25 13:49] christpet commented on #277
@lutangar @JalilArfaoui does this issue still apply? If yes it could be a good issue for someone like Tonio (don't see his Github handle here)

[2021-03-25 13:51] christpet commented on #294
Looks like this still needs to be added @lutangar ? I'll put it in the backlog if yes!

[2021-03-25 13:52] christpet commented on #312
Does this still apply @lutangar or can we close?

[2021-03-25 13:52] #752 closed

[2021-03-25 14:04] #785 closed

[2021-03-25 15:39] newick commented on #862
Buttons should  :
- be links with href or normal buttons
- have borders only or backgrounds
- have colors of borders, backgrounds, fonts
- have hover effects
- be inactive
- have different sizes (small, medium, large to begin?)

[2021-03-25 15:40] newick commented on #862
Texts should:

- have alignements (left, center, right)
- have only one color
- have only one font-weight

[2021-03-25 15:44] newick commented on #862
Titles should:
- be `<h1>`, `<h2>`, `<h3>`, `<h4>`
- have alignements (left, center, right)
- have only one color
- have only one font-weight

[2021-03-25 16:17] #871 closed

[2021-03-25 16:40] bmenant commented on #871
:tada: This issue has been resolved in version 3.67.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.67.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-25 16:40] bmenant commented on #865
:tada: This issue has been resolved in version 3.67.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.67.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-25 16:40] bmenant commented on #863
:tada: This issue has been resolved in version 3.67.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.67.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-03-26 08:42] lutangar commented on #870
@gregoirelacoste I saw you reactivate the `proding` profiles app in __Clever Cloud__, good  first step :+1:
Don't remember which domain is supposed to be linked to this app tho' -_-

[2021-03-26 08:45] lutangar commented on #211
This is still a consideration, but not a priority, leaving it in the backlog.

[2021-03-26 15:13] tobika opened #878 "Logs are polluting in the console in webdev tools when Extension is installed"
**Describe the bug**
I have installed the dis-moi extension on Firefox. When I'm browsing/working and I open the webdev tools I can see logs from `Logger.ts`. Is this intentional? Not sure an extension should log here if developers try to concentrate on their own work/logs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page on the web
2. Open the webdev tools and read the

[2021-03-27 16:05] MaartenLMEM commented on #837
Hi guys,
I remember today onboarding feature intended to new users will have **impact on users that had already installed extension**.  And it will affect a lot fo them.
**What 's the problem?**
For an unknown reasons (see belox), their extension, already installed, opens onboarding page.
So as user, you receive a message : "hey you just have installed Dismoi, thank you !". This is very unsafe for

[2021-03-28 11:24] MaartenLMEM commented on #872
New example today :
`Bonjour, J'ai reçu un rappel comme quoi Amazon n'est pas top... Mais je cherche un livre que je ne trouve ni sur Vinted, ni sur le Market Place de fb.  Pourriez-vous me dire ou trouver Le génie Lesbien d'Alice Coffin? Merci!`

[2021-03-28 11:50] MaartenLMEM commented on #872
Another example
Author : Marie
_url: https://fr.shopping.rakuten.com/
pour: D'occasion
Bonjour! Je souhaite savoir si c'est une bonne chose d'acheter sur ce site. Merci_

This usecase is a bit different. It start with a question to one contributor.
So we could create an account and a bubble here, considering a question is a contribution.
But this contribution has a little diffrence : it is adresse

[2021-03-28 12:48] MaartenLMEM opened #879 "Group of contributors to integrate communities like CaptainFact"
**Describe the feature/improvement**
Several contributors can be attached to community
This community is more efficient to answser to question and make contributions.

##FEATURES
**Followers**
You can follow a community. If you follow a community you see all of it bubbles.

**Contributions on behalf of the community**
It's a community, each of its accepted member by the admin is able to post and a

[2021-03-29 07:26] gregoirelacoste commented on #837
hi @MaartenLMEM new onBoarding (I don't know how the old one worked) is only activated when user is on this specific URL : eclaireurs?pk_campaign=**installed**
The user is redirected on this URL after he install the app.
So if i understand you mean that is there other cases which fire this redirection to this specific URL ?

[2021-03-29 07:43] MaartenLMEM commented on #837
Yes. And I know one origin of these cases (which i describe upper), but there are probably more if we look at desinstallation reasons shared by users cc @christpet .

[2021-03-29 09:50] MaartenLMEM opened #880 "Question feature refinment : easier choice of available contributors"
**Problems**
I. As internet user, when I ask for an advice/information, I have to choose in very long list to who I ask, even contributors I do not follow and I do not have any idea of who they are
II. Some of DisMoi contributors don't want to answer to questions, they even do not know this feature exists

**Target user**
- All users
- All contributors (if the list is shorter, there will be more q

[2021-03-29 09:54] MaartenLMEM opened #881 "Question feature refinment : More direct relation between users and contributors"
**Describe the feature/improvement**
- When a user ask for an advice or information, send it directly to email adress to contributor, containning a link to answer.
- Create a BO feature that allos contributors to switch off question feature for them.

**Target user**
- Contributors
- Users who ask a question

**Fill in the following areas if you have the time...**

**User stories**
How will the us

[2021-03-29 11:29] christpet commented on #878
Thanks for flagging this and creating the issue, @tobika ! We'll look into how we could solve this. Would hate to have the devs out there disabling DisMoi every time you need to look at console logs.

For this I will ping our logging expert @JalilArfaoui - what do you think it would take to disable these logs?

[2021-03-29 11:56] #837 closed

[2021-03-29 12:08] gregoirelacoste opened #882 "extension, already installed, opens onboarding page."
I remember today onboarding feature intended to new users will have **impact on users that had already installed extension**.  And it will affect a lot fo them.

**What 's the problem?**
For an unknown reasons (see belox), their extension, already installed, opens onboarding page.
So as user, you receive a message : "hey you just have installed Dismoi, thank you !". This is very unsafe for users :

[2021-03-29 12:28] lutangar commented on #837
Just to support @MaartenLMEM concerns in https://github.com/dis-moi/extension/issues/837#issuecomment-808754823
This will happens, and people will complains... just saw @gregoirelacoste opened #882 to track this down, so this is fine, I'll add more info there.

[2021-03-29 12:29] lutangar commented on #882
Related to #855

[2021-03-29 12:33] MaartenLMEM commented on #837
Thanks @lutangar  Clearly, from my experience, if current feature is pushed in production in the state I saw it (wording, images...), we will probably have an increase of uninstallations.

[2021-03-29 13:38] christpet commented on #861
@JalilArfaoui do you have time this week to look into this?

[2021-03-29 13:47] coffeeandpixel opened #883 "Language detection bugs"
Hello, I've a problem on the DisMoi HP.
In the French homepage, by clicking on the "vos eclaireurs" menu I am redirected to the contributors page but in English. Moreover, the "following" button is translated as "Subscribers", a bit strange ... (see screenshot)

Can you verify?
Thank you

![Screenshot 2021-03-29 at 15 42 26](https://user-images.githubusercontent.com/16020438/112845920-b542f580-90a

[2021-03-29 13:56] christpet commented on #883
@coffeeandpixel thanks, we have noted the "subscribers" issue.

could you tell us the language of your browser? If it's anything except French then this might be the correct behavior, correct me if I'm wrong @gregoirelacoste

[2021-03-29 14:03] coffeeandpixel commented on #883
@gregoirelacoste @christpet If we don't use geolocation, can we have the same function on all pages? in order to see all the pages of the site in the same language.

[2021-03-29 14:08] gregoirelacoste commented on #883
@coffeeandpixel i confirm, it's because your browser is in english. You use geolocation only on extension and profiles app (eclaireurs and notices page) but I don't think that there is geoloc feature on the website @antoinewolff ?

[2021-03-29 14:43] antoinewolff commented on #883
There are the options offered by WPML the plugins :
<img width="1003" alt="Capture d’écran 2021-03-29 à 16 42 01" src="https://user-images.githubusercontent.com/12514460/112854177-e0c9de00-90ad-11eb-8448-ae936d03b7e4.png">

[2021-03-29 14:58] gregoirelacoste commented on #883
on extension and profiles app side our politic will be:
- url is source of truth to determine the language
- if browser language is detected and exist in translate file > redirect to the right url
- if not > fallback language === EN

could we do the same on the website ?

[2021-03-30 07:57] MaartenLMEM commented on #759
Hi @christpet  I just tested this feature and I found an issue.

Notice tested : Bulle (#1538)
Page : https://www.lemonde.fr/les-decodeurs/article/2020/09/24/5g-le-vrai-le-faux-et-ce-qu-on-ne-sait-pas-encore_6053447_4355770.html

**Prod layout (current)**
![image](https://user-images.githubusercontent.com/7824485/112954006-48c80500-913e-11eb-9cd1-24f278af369b.png)

**Proding layout :**
![image](ht

[2021-03-30 08:00] MaartenLMEM commented on #759
Same problem with the example hsbc : https://www.hsbc.fr/1/2/hsbc-france/particuliers/devenir-client-ouvrir-un-compte-bancaire-en-ligne

[2021-03-30 08:57] christpet commented on #759
@MaartenLMEM thank you for testing and reporting this! @newick is this more appropriate for you or Gregoire?

[2021-03-30 13:14] prk-dismoi commented on #832
Just browsing. does this issue need to be closed?

[2021-03-30 13:39] zhinu commented on #832
I think it is safe to assume it can be closed. Should there be more issues relating to Xpath arising due to an increase use (since it is now live), other tickets can be written.

[2021-03-30 14:53] newick commented on #759
@christpet I think that @gregoirelacoste created it, he knows it more.

[2021-03-31 16:35] christpet opened #887 "Instant publish of posts from the extension"
**Describe the feature/improvement**
Right now we allow people to post from the extension, to create a draft post in the backoffice that a human must review and manually post. Now I want to propose removing all barriers to posting from the extension and allowing instant posting - so that when I submit a post in the extension, it immediately gets published and I can see the live version right away.

[2021-04-01 07:01] christpet commented on #861
Ah okay, so it looks like we're getting an idea of what is causing all these problems. Can we come up with a plan to address it?

Looks like all these issues are connected:
- #257
- https://github.com/dis-moi/backend/issues/335
- #801
- #861
- https://github.com/dis-moi/backend/issues/335
- others?

On the plus side, if we can fix this then alllll these issues will get completed 😺

@JalilArfaoui @

[2021-04-01 14:36] gregoirelacoste commented on #794
@lutangar I suggest to create a new field on contribution: language and get the language by the api.
Then i could display the appropriate language by user pref language or url.
It sounds good for you ?
cc @christpet

[2021-04-01 14:50] newick commented on #765
can't reproduced with last version.

[2021-04-01 14:51] gregoirelacoste commented on #765
@christpet do we close this issue ?

[2021-04-01 16:03] #850 closed

[2021-04-01 16:25] bmenant commented on #850
:tada: This issue has been resolved in version 3.69.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.69.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-02 10:14] christpet commented on #765
Same here. Let's close it!

[2021-04-02 10:14] #765 closed

[2021-04-02 14:08] gregoirelacoste commented on #852
update status here : https://github.com/dis-moi/extension/pull/886#issuecomment-812541336

[2021-04-06 12:25] gregoirelacoste opened #888 "Youtube player display issue"
Notice tested : Bulle (#1538)
Page : https://www.lemonde.fr/les-decodeurs/article/2020/09/24/5g-le-vrai-le-faux-et-ce-qu-on-ne-sait-pas-encore_6053447_4355770.html

**Prod layout (current)**
![image](https://user-images.githubusercontent.com/7824485/112954006-48c80500-913e-11eb-9cd1-24f278af369b.png)

**Proding layout :**
![image](https://user-images.githubusercontent.com/7824485/112953614-ec64e58

[2021-04-06 13:09] gregoirelacoste commented on #888
@MaartenLMEM @christpet
This problem comes from the way videos are integrated to a bubble from the backoffice.

Currently the only method to embed the video is the most simple: just copy past the URL. Like : `https://www.youtube.com/watch?v=dQw4w9WgXcQ`

But i see in Backoffice this: `<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Voir la vidéo</a>`
The regex which recognize youtube link do

[2021-04-06 13:44] MaartenLMEM commented on #888
We use <a href> in many cases not only with videos. Also we can't ask contributors to use one way of coding for Youtube, and another code for other links (vidéo or not). There will be errors. Also in some case, contributor want to put a link to a vidéo to explain a detail, thus not display a preview.

So I agree with this proposal if it allows us to use both ways of coding ine the future : <href="

[2021-04-06 14:54] christpet commented on #888
From what I understand, we could make this option work if and only if the "<a href>" is recognized and deleted ONLY for YouTube videos. Would that give us the result we want @gregoirelacoste ? What is the main problem that is causing the issue?

To clarify, the desired result is one where:
- YouTube videos show up as embedded
- All other links show up as simple hyperlinks

[2021-04-06 15:22] gregoirelacoste commented on #888
@christpet the main problem come from the regex which don't match with <a href... so exactly, the goal is: display video instead of link only for youtube video links

[2021-04-06 19:47] christpet commented on #888
Ok awesome. English version stuff is priority but if you can do this next that would be great @gregoirelacoste !

[2021-04-07 11:12] #888 closed

[2021-04-07 11:30] bmenant commented on #888
:tada: This issue has been resolved in version 3.69.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.69.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-07 12:32] coffeeandpixel opened #890 "Change of link on contributor boxes"
In the contributors' boxes (on any page where they are showed. EX: https://www.dismoi.io/eclaireurs/ ) we have to replace the text of the link "Voir ses contributions" by "Voir un example".
By modifying the text, the action must also change:

I click on “Voir un example”

** -----> IF HAVE ALREADY INSTALLED THE DISMOI EXTENSION:**

**CASE 1: I am a subscriber to the contributor**
I have just redir

[2021-04-07 12:36] coffeeandpixel commented on #890
PS: today for those who want to install the extension and are on an unsupported browser (example: safari) there is a pop-in that invites them to use another browser. clearly this function must remain intact

[2021-04-07 12:46] christpet commented on #870
@gregoirelacoste any update here? I'm still getting the 404 in the latest version - I want to make sure this doesn't happen in prod!

[2021-04-07 12:49] gregoirelacoste commented on #870
@christpet it's in progress, but I already confirm that there is no 404 error in prod for this url : https://www.dismoi.io/eclaireurs/?pk_campaign=installed

[2021-04-07 12:54] christpet commented on #870
Ok - in current production environment the 404 is not happening. That is good.

I want to make sure that when we push the current version that is in Firefox Proding https://github.com/dis-moi/extension/releases/tag/v3.69.1 this problem doesn't reproduce in production

[2021-04-07 12:59] gregoirelacoste commented on #870
@christpet all is working on staging, but for now I can't understand why nothing is working on proding... let me one hour before push on prod

[2021-04-07 13:03] christpet opened #891 "Staging : Onboarding triggers every time I go to "dismoi.io/eclaireurs""
**Describe the bug**
This is in the Firefox Staging version found here https://github.com/dis-moi/extension/releases/tag/v3.69.1

Every time the user goes to https://staging-profiles.dismoi.io/eclaireurs, the Onboarding tutorial plays. Even without the "?installed" URL piece

**To Reproduce**
Steps to reproduce the behavior:
1. Download the Staging version https://github.com/dis-moi/extension/rele

[2021-04-07 14:46] gregoirelacoste opened #892 "i18next redux"
**Describe the feature/improvement**
Use redux and store language inside a specific reducer or inside pref reducer during i18next initialisation
Improve location change saga with translate function

**Target user**
Developers

**Technical implementation notes**
Use redux to handle async i18n init

**Additional context**
some lib: https://www.npmjs.com/package/react-redux-i18n

[2021-04-07 14:50] #852 closed

[2021-04-07 14:50] #883 closed

[2021-04-07 15:10] bmenant commented on #852
:tada: This issue has been resolved in version 3.70.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.70.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-07 15:10] bmenant commented on #883
:tada: This issue has been resolved in version 3.70.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.70.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-08 14:51] lutangar opened #893 "fork-ts-checker-webpack-plugin watch entire world (including node_modules)"
**Describe the bug**
fork-ts-checker-webpack-plugin watch entier world (including node_modules).

Proc usage goes crazy, and result in `chokidar` errors:
[code]

**To Reproduce**
[code]

**Desktop (please complete the following information):**
 - OS: Linux, Ubuntu

**Additional context**
- https://github.com/TypeStrong/fork-ts-checker-webpack-plugin/search?q=chokidar&type=issues

[2021-04-08 14:55] gregoirelacoste commented on #893
example:
[code]

[2021-04-08 16:32] #862 closed

[2021-04-09 08:47] MaartenLMEM opened #894 "Extension ID on uninstall form : we cannot make us of it in Matomo"

[2021-04-12 06:20] #870 closed

[2021-04-12 08:23] gregoirelacoste commented on #890
I just draw a summary schema.
I have a question @coffeeandpixel why redirect to a blank page to see the contribution img ? why not display it in a modal inside the same page ?
![image](https://user-images.githubusercontent.com/60737012/114363713-fb558a00-9b78-11eb-8df0-6cfa9df42e10.png)

[2021-04-12 08:56] MaartenLMEM commented on #890
@coffeeandpixel What about a label : "Voir un exemple réel" ?

[2021-04-12 09:05] gregoirelacoste commented on #890
@coffeeandpixel i already have the answer ;)

[2021-04-12 09:22] gregoirelacoste commented on #893
@JalilArfaoui @lutangar chokidar problem solved for me. It had to come from my webstorm config... I followed this: https://confluence.jetbrains.com/display/IDEADEV/Inotify+Watches+Limit

maybe it can help

[2021-04-12 09:34] gregoirelacoste commented on #890
@MaartenLMEM in english "See a real example" ?

[2021-04-12 10:32] zhinu opened #896 "Using mouse click 3 (mouse wheel click) on a notice gives error 404"
**Describe the bug**
When you click to view the detail of a notice with a mouse click 3, then you go to a page that doesn't exist (on firefox, haven't yet tried with chrom*).
the link you go to is {originwebsiteurl}/notices/details/{xxx}

**Expected behavior**
Should go to detail, or no behaviour at all

*
**Desktop (please complete the following information):**]
 - Browser : firefox

**Extension*

[2021-04-12 11:16] lutangar commented on #896
Related to #755

[2021-04-12 13:01] lutangar commented on #761
Let's see if we can move one step closer to `nx` folder structure.

[2021-04-12 14:49] gregoirelacoste commented on #761
@lutangar  to summarize our talk:
- first step: we reorganize folders structure with @JalilArfaoui
- second step: act if we use or not nx ?
- third step: implementation ?

[2021-04-12 19:52] JalilArfaoui commented on #761
Yep !

[2021-04-13 07:06] gregoirelacoste commented on #882
a possible solution: https://developer.mozilla.org/fr/docs/Mozilla/Add-ons/WebExtensions/API/runtime/OnInstalledReason

[2021-04-13 07:54] gregoirelacoste commented on #882
we already trigger `install` reason in `background/sagas/install.ts`:
[code]

[2021-04-13 08:50] gregoirelacoste commented on #882
Look like same issue : https://groups.google.com/a/chromium.org/g/chromium-extensions/c/PPLFxEvGvh0/m/nvAIUj-tBAAJ

[2021-04-13 09:22] JalilArfaoui commented on #882
This can also explain some analytics issues we have @lutangar @MaartenLMEM @zhinu

[2021-04-13 09:45] MaartenLMEM opened #898 "[Metrics] Matomo has often server issues"
Last case in image below
- I just wanted to filter visits of homepage and see results per months
- This happened at 4:12 pm friday april 2th.

@zhinu reported also many issues during his investigations. Maybe he already reported them.

![image](https://user-images.githubusercontent.com/7824485/113423113-349a3700-93ce-11eb-8f3f-c87d5ce6de7b.png)

[2021-04-13 09:59] gregoirelacoste commented on #882
`optionsRequested` action fire the redirection to onBoarding.
I am looking at the component side that uses it: `serviceMessage` , `ListScreen`...

[2021-04-13 10:18] JalilArfaoui commented on #882
@gregoirelacoste You’re right, trying to reproduce … This would help a lot understand !

[2021-04-13 10:20] gregoirelacoste commented on #882
If you have ideas to reproduce, i take it...

[2021-04-13 12:23] gregoirelacoste opened #899 "Declare new countries in extension stores"

[2021-04-13 12:25] gregoirelacoste commented on #899
to cover new country, we need
- [ ] translation (en)
- [ ] declare in store
- [ ] need contents (bulles)
- [ ] need en profiles

[2021-04-13 16:58] #890 closed

[2021-04-13 17:20] bmenant commented on #890
:tada: This issue has been resolved in version 3.71.0 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.71.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-14 14:22] newick opened #901 "Export/import contributors' list"
**Describe the feature/improvement**
As a User I'd like to be able to export my list of the contributors I follow and import in on another device

**Target user**
Extension users

[2021-04-14 14:54] JalilArfaoui commented on #861
Background process crashes with :

![image](https://user-images.githubusercontent.com/3037833/114731379-fee83d00-9d41-11eb-9ffb-157e865cdee5.png)

and never recover

[2021-04-14 22:10] JalilArfaoui commented on #896
Yes, but not exactly the same … (click link inside message vs click message detail from messages list)

[2021-04-14 22:13] JalilArfaoui commented on #896
We have to see if we can prevent the link to open in a new tab … since it has no meaning

[2021-04-15 12:24] gregoirelacoste commented on #882
new hypothesis:
at the update, the following actions are dispatch, in this order:

1. persist / PERSIST
2. persist / REHYDRATE
3. REFRESH_MATCHING_CONTEXTS
4. ...

it's only at action 2 `persist / REHYDRATE` which is dispatching the `installation details` with reason `update`.
Before it is in` install` mode
maybe there is a problem with the PERSIST action which it is in `install` each time

[2021-04-15 13:13] newick opened #902 "New Onboarding: evolutions"
**Describe the feature/improvement**

Few edits before going to prod :
* separate experience for Firefox and Chrome Users. On Firefox, only 2 steps, not the pinning part.
* update wording to prevent bad experience in case of onboarding reopening.
Instead of "l'installation a réussi", it could be "L'extension est à jour".

@coffeeandpixel will add some design feedbacks.

**Target user**
New Users o

[2021-04-15 14:08] gregoirelacoste commented on #902
ok for the first changes, so now I'm waiting for your feedbacks @coffeeandpixel
PR here: https://github.com/dis-moi/extension/pull/903

[2021-04-16 15:50] MaartenLMEM opened #904 "Bug staging : post a contribution generates infinite loader"
Related to new feature in staging https://github.com/dis-moi/extension/pull/800

Firefox Staging 3.71.0 and Proding 3.71.00
Reproduced 4 times with désactiver /activer and then uninstall / install between each try

**bug**
I try to publish a contribution, but after clicking on validate the button stays in loading state.

To reproduce
1. Clic on D icon one any page
2. Fill name, email and message
3

[2021-04-16 15:57] MaartenLMEM commented on #904
Background random screenshot (where it's red ^^)
![image](https://user-images.githubusercontent.com/7824485/115051444-1f003380-9edd-11eb-80cf-7832de04d68d.png)

[2021-04-16 16:13] MaartenLMEM commented on #904
update : Christian found same bug and described it directly in the feature https://github.com/dis-moi/extension/pull/800

[2021-04-16 16:26] MaartenLMEM opened #905 "Onboarding is not launched after installation"
**Describe the bug**
Onboarding process is supposed to launch after I install DisMoi. But it does not trigger anything.
I made 6 tests on staging and proding Firefox, just one time it opened a page.

@newick and Marco met same problem on Firefox and Chrome and will share more information here after further enquiry

**To Reproduce**
Install Dismoi

**Expected behavior**
Opens onboarding

**Screensh

[2021-04-16 16:44] MaartenLMEM commented on #905
@newick this is quite urgent because I cannot test anything seriously related to onbarding

[2021-04-16 16:55] MaartenLMEM opened #906 "[Proding & Staging] when onboarding triggers, it open an empty page"
**Describe the bug**
Sometimes onbaording triggers when I test it on firefox proding. But it opens a page where is nothing : https://proding-profiles.dismoi.ioundefined/?pk_campaign=installed

On staging it opens : https://staging-profiles.dismoi.ioundefined/?pk_campaign=installed

**To Reproduce**
- Install firefox proding (if nothin happen, try again until it triggers)

**Expected behavior**
Is

[2021-04-16 16:56] MaartenLMEM commented on #865
@newick if this is ok please move it to last column

[2021-04-16 17:23] MaartenLMEM commented on #852
@prk-dismoi can y ou have a look if it works from your home ?

[2021-04-16 17:37] MaartenLMEM commented on #887
@JalilArfaoui Je crois que tu avais proposé en réunion produit il y a 10 jours plusieurs stratégies pour diminuer drastiquement le délai de cache sur les nouvelles contributions. Si oui peux-tu les résumer ici ?

[2021-04-16 17:45] MaartenLMEM commented on #872
First, just create the button and an window saying "La fonctionnalité de réponse est en cours de développement, merci de votre patience". En attendant vous pouvez créer une [nouvelle contribution ](lienverscontri.com)si vous le souhaitez.

Later Screens after clicking on "répondre"  need to be designed, knowing it will work without login, like any contribution from extension.
Process will be close

[2021-04-16 21:31] prk-dismoi commented on #852
Redirects here for me: https://www.dismoi.io/eclaireurs. All seems to work fine on the page (in english)

[2021-04-18 21:06] JalilArfaoui opened #907 "Migrate Chrome manifest to V3"
Chrome has started supporting manifest V3 from version 88 :

https://blog.chromium.org/2020/12/manifest-v3-now-available-on-m88-beta.html

We have to migrate to manifest V3 before end of the year :

[code]

**Check-list**
https://developer.chrome.com/docs/extensions/mv3/intro/mv3-migration/

[2021-04-19 07:08] gregoirelacoste commented on #891
@MaartenLMEM I can't reproduce the bug, I think this issue is already fixed.
@newick could you confirm ?

[2021-04-19 07:22] MaartenLMEM commented on #891
ok I consider it fixed, we ll find it back if it comes up again

[2021-04-19 07:22] #891 closed

[2021-04-19 11:56] lutangar opened #909 "Background string aren't translated"
**Describe the bug**
Some strings aren't translated.

**Extension**
[3.71.0](https://github.com/dis-moi/extension/commit/6ca536f7cac1f9679dfb9afdb9641d184cd043c9)

**Additional context**
See for example:
- https://github.com/dis-moi/extension/blob/master/src/app/background/sagas/serviceMessage.saga.ts#L34-L38
- "Sources d'informations" in `background/index.ts`

[2021-04-19 12:25] lutangar opened #910 "Opening default profiles page from extension does nothing"
**Describe the bug**
When attempting to open profile page from extension, nothing happens.

**Extension**
[3.71.0](https://github.com/dis-moi/extension/commit/6ca536f7cac1f9679dfb9afdb9641d184cd043c9)

**Additional context**
This is because we don't wait for the `i18n` `t` function to be ready, hence default `path` is undefined.

[2021-04-19 17:06] MaartenLMEM commented on #890
@gregoirelacoste je viens de tester voici mes remarques :
- Le mécanisme d’abonnement + ouverture automatique qu'a proposé Marco génère un petit bug technique : si je clique sur suivre ça m'ouvre la page cible mais la bulle ne se déclenche.
Donc je te proposer de reprendre plutôt le mécanisme complètement identique qui existe actuellement sur les pages profils.
- Il y a un petite erreur sur la lab

[2021-04-20 09:05] MaartenLMEM commented on #882
@JalilArfaoui can you study it to to know if there is a solution à portée, or if it will take days.

[2021-04-20 09:11] lutangar commented on #822
I'm seeing this closer to  XS :shirt: but I might be wrong I let you assess back the difficulty and come back to me if you disagree.

[2021-04-21 08:06] zhinu opened #920 "Certain Xpath-embedded notices seem to have wrong stats (data the same with other notices)"
**Describe the bug**
We are having wrong backend data on certain notices that have an xpath connector.
![image](https://user-images.githubusercontent.com/75084558/115518833-e9669c00-a288-11eb-9453-d99ddffdc862.png)

When I visit a page where the notice should show (ie: https://www.leboncoin.fr/consoles_jeux_video/1959949521.htm?ac=2404136686), 3 badges and 1 aperçu are counted.

This is pretty pro

[2021-04-22 12:33] MaartenLMEM opened #913 "Profile Pages : examples are no nore displayed after highlighted examples"
**Describe the bug**
On profils pages, examples are no nore displayed after highlighted examples

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.dismoi.io/eclaireurs/16/Le-Meme-en-Mieux/ or https://www.dismoi.io/eclaireurs/116/Thinkerview-addict
2. See error

**Expected behavior**
These examples should be displayed

**Screenshots**
https://files.slack.com/files-pri/T032PBTS

[2021-04-22 12:34] JalilArfaoui commented on #913
I’ll take a look

[2021-04-22 12:39] JalilArfaoui commented on #913
We have a 500 error on https://notices.bulles.fr/api/v3/notices?limit=10&offset=0&contributor=16 … I’m digging why

[2021-04-22 12:44] MaartenLMEM commented on #913
Ok here is some more informations :
https://www.dismoi.io/eclaireurs/55/CaptainFact.io/ is working half
https://www.dismoi.io/eclaireurs/32/Colibri-ecolo same

First notices examples are diplayed, but when I click on more nothing happens.
Looks like cache delivers some data (fortunaltly)

[2021-04-22 12:50] JalilArfaoui commented on #913
Again `Fatal error: Allowed memory size of 536870912 bytes exhausted`

[2021-04-22 13:01] JalilArfaoui commented on #913
I’m
- temporarily changing memory_limit to 1024Mo in production
- getting production on local machine to reproduce high memory consumption

[2021-04-22 13:26] JalilArfaoui commented on #913
Fixed in production. I’m pushing a fix pull request.

[2021-04-22 13:42] JalilArfaoui commented on #913
Fixed in https://github.com/dis-moi/backend/pull/355

[2021-04-23 17:03] MaartenLMEM opened #914 "Firefox addon : Fill description about data management and legal conditions"
https://addons.mozilla.org/fr/developers/addon/dismoi/ownership

[2021-04-24 15:09] JalilArfaoui commented on #861
PR #915 should fix at least the scenario I could reproduce : Now, the extension will continue to try fetching contributors and matching contexts indefinitely (max 10 minutes between retries)

But user will still have a «dead UI» in the meantime : grey icon and nothing happens. We should really start implementing #801, starting IMHO with something like a red browser icon as long as we’re having tro

[2021-04-24 15:14] JalilArfaoui commented on #861
And also we could come up with a better and more global network handling mechanism, for example not retrying anything until we can ping the backend …

[2021-04-25 11:25] MaartenLMEM opened #916 "Badge stays with a number saying "there are N notices" but there are not"
**Describe the bug**
After changing page on website lequipe.fr et  youtube.fr, badge stays with a number saying "there are N notices" but there are no more notices
This biug does not happen on other website like opodo.fr for example.

See example on lequipe.fr [in this Vidéo](https://drive.google.com/file/d/1IEi2UutQxDiwqiFOnTPROVZglKuQ2gmO/view)

**To Reproduce**
Steps to reproduce the behavior:

[2021-04-26 09:35] lutangar commented on #801
I agree with @JalilArfaoui this should be planned. I'm seeing this has been moved to the [Performance board](https://github.com/orgs/dis-moi/projects/12) but should we move this to the extension todo as well @MaartenLMEM ?

[2021-04-26 10:23] #836 closed

[2021-04-26 13:07] lutangar commented on #894
This is pretty self explanatory, as long as we're using this option we won't be able to externally match our `id` to the one used in __Matomo__.

It might also be related with another issue raised by @zhinu : `1 visit ~= 1 new user`

[2021-04-26 16:17] lutangar commented on #920
I did some digging and I'm creating some testing data in `dev` environment but so far I didn't experience the issue. I'm not saying it doesn't exist, but so far I can't reproduce it with my testing data.

I'll try to create smthing on *lbc* to see if it's related to this specific website...

What I can tell so far:
- *so far* `xpath` doesn't *seem* to be responsible
- 2 *matching* `matchingContext

[2021-04-26 17:03] MaartenLMEM opened #922 "V1.3 Profile page improvments to make 1st more intuitive and convert more visitors to users"
1ères idées :

+ C'est quoi Dismoi
+ CTA installer visible en header ou en colonne de droite

[2021-04-26 17:23] MaartenLMEM commented on #801
I agree, I am just waiting for the design.

[2021-04-26 17:46] MaartenLMEM commented on #861
OK  #801 is set as a priority

Ok I like this path, but I do not see precisly what it refers to.
Did you already identify a specific case where it is retrying without any chance to succeed ?
Or is it a general guess ? If it is a guess, do you have any idea of this kind o event frequency ?

[2021-04-26 21:52] #861 closed

[2021-04-26 22:10] bmenant commented on #861
:tada: This issue has been resolved in version 3.71.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.71.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-26 22:11] bmenant commented on #836
:tada: This issue has been resolved in version 3.71.1 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.71.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-27 07:30] #271 closed

[2021-04-27 08:53] MaartenLMEM opened #924 "Extension retries or not depending on BO health status"
Following #861
_ url health dans le BO qui serait pinger en cas de problème : tant que c'est down l'extension ne fait plus de requêtes
Actuellement le mécanisme de retry a été changé pour s'adpater aux coupures plus longues et aux 524 (au bout de 10 essais l'extension se crachait)

**Benefit**
Less blocked extensions

**Target user**
All

[2021-04-27 08:55] MaartenLMEM commented on #861
Notes from my call with Jalil a few minutes ago

Fix apposé ici : tant que que t'as pas réussi à fletcher sur matching context et contributeur, tu continues d'esssayer avec ralentissement progressif des essais avec un max de 10 minutes

_Pour la suite, c'est quoi _retry anything_ ?
_ C'est une sorte d'url health dans le BO qui serait pinger en cas de problème : tant que c'est down l'extension ne f

[2021-04-27 13:51] lutangar commented on #920
After more investigation...

LBC is a "special case":
1. Go to a matching URL: Badge show 2 notices and the UI opens.
2. Navigate to another URL on LBC:  The Badge still show 2 notices ....

If you inspect the source of the page and press `Ctrl+F` there, you'll notice 2 things:
1. Informations of your previous page is present in `script`:
[code]

2. There is an `xpath` search which might be very h

[2021-04-27 15:22] lutangar commented on #920
For this usecase, my suggestion is then to use a more precise `xpath`:
[code]

Overall you should try to use selector targeting an area of the page instead of the whole page to avoid false positive.

[2021-04-27 18:29] MaartenLMEM opened #926 "Staging : button "Choisir mes sources" brings me to staging-profiles.dismoi.ioundefined"
**Bug**
- Click on "Choisir mes sources" opens https://staging-profiles.dismoi.ioundefined/
By the way, button Label is an old one we forgot to change
**To Reproduce**
Steps to reproduce the behavior:
1. Install Staging 3.71.2
2. Unsuscribe from all contributors
3. Click on D icon
4. Click on "Choisir mes sources"

**Expected behavior**
- Opens profiles pages where I can choose to follow some of t

[2021-04-27 18:37] MaartenLMEM opened #927 "Notice date&time has a strange format that is not readable [staging]"
**Describe the bug**

![image](https://user-images.githubusercontent.com/7824485/116294114-df1c3480-a797-11eb-880a-ed4d4e37dc04.png)

Date and time is diplayed this way : Le 2020-08-05T15:57:22+02:00

It should be just the date : Le 05/08/2020

**To Reproduce**
1. Follow Pierre de Service volontaire : https://staging-profiles.dismoi.io/eclaireurs/14/Pierre-de-Service-Volontaire-International
2. Cl

[2021-04-27 18:38] MaartenLMEM commented on #927
@JalilArfaoui @lutangar does one of you have an idea of a recent change that brought this error.
If yes take it as first please

[2021-04-27 19:01] MaartenLMEM commented on #888
@gregoirelacoste Solution developped generates a new problem.
See screenshot below : the text is tronqué
The right solution is to keep links as anchors when they are anchors.

In any cas, vie embedded should be after the whole text.

Sorry this complexity has not been forseen.

![image](https://user-images.githubusercontent.com/7824485/116297276-63bc8200-a79b-11eb-9f42-4ae37523a061.png)

[2021-04-27 19:14] MaartenLMEM commented on #850
good job !
![image](https://user-images.githubusercontent.com/7824485/116299115-923b5c80-a79d-11eb-95a3-104a319529c0.png)

[2021-04-27 19:17] MaartenLMEM commented on #804
@gregoirelacoste sorry for chaging this, but we go back to "Abonnements" instead of "vos éclaireurs"
Is it possible to simply roll back ?

[2021-04-28 07:30] gregoirelacoste commented on #804
@MaartenLMEM to complicate to rollback, you only need to change the word in the translation file

[2021-04-28 07:35] gregoirelacoste opened #928 "Youtube link video : keep links as anchors when they are anchors."
@gregoirelacoste Solution developped generates a new problem.
See screenshot below : the text is tronqué - bubble #1338 - url  https://opendecide.com/practices/225

The right solution is to keep links as anchors when they are anchors.

In any case, video embedded should be after the whole text.

Sorry this complexity has not been forseen.

![image](https://user-images.githubusercontent.com/7824485

[2021-04-28 07:40] gregoirelacoste opened #929 "go back to "Abonnements" instead of "vos éclaireurs""
@gregoirelacoste sorry for chaging this, but we go back to "Abonnements" instead of "vos éclaireurs"
Is it possible to simply roll back ?

_Originally posted by @MaartenLMEM in https://github.com/dis-moi/extension/issues/804#issuecomment-827854122_

[2021-04-28 08:40] gregoirelacoste commented on #929
files here: https://github.com/dis-moi/extension/tree/master/src/i18n/resources

[2021-04-28 08:56] MaartenLMEM commented on #890
Label first modal :
Veuillez suivre Colibri écolo pour voir ses contributions.
Button : Suivre
Label second modal :
`Vous êtes bien abonné(e) à Selon Que Choisir`
Button : Voir l'exemple

[2021-04-28 09:18] JalilArfaoui opened #930 "New End-to-end automated behavior tests"
This is mostly an «issuation» of the existing PR #289

We want to automate the - currently manual - acceptance and non-regression tests in order to
- Faster validation
- Avoid missing checks
- CLI only launch (no need to touch the browser)
- As close as possible to real world
- Shorter feedback loop : validate scenarios before merging anything
- (Later) Embedded in CI pipeline so that regression c

[2021-04-28 12:39] newick commented on #905
@MaartenLMEM I tried many times and can't reproduce it anymore…

[2021-04-28 12:45] newick commented on #865
@MaartenLMEM i don't feel confortable to move something I didn't interact with.
How do I know if it has been deployed?
I think if it has the `deployed` tag it should be ok, but how to know for sure?

@lutangar any idea of how to make something clear?

[2021-04-28 13:09] newick commented on #872
@MaartenLMEM if I understand it correctly, it's a way to get data to know if we need to dev the feature?
It could create frustration to the Users, they'd think they can answer and finally nope…
But it looks like a quick win and a way to show that we are working on it.

So let's try and and see. It looks like a small amount of time to invest and a great way to be sure it's necessary.

@prk-dismoi d

[2021-04-28 13:51] #916 closed

[2021-04-28 14:02] MaartenLMEM commented on #905
ok thanks !  I ll malke a test soon to confirm on my side

[2021-04-28 14:16] bmenant commented on #878
:tada: This issue has been resolved in version 3.71.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.71.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 14:16] bmenant commented on #916
:tada: This issue has been resolved in version 3.71.3 :tada:

The release is available on [GitHub release](https://github.com/dis-moi/extension/releases/tag/v3.71.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-04-28 14:31] zhinu opened #931 "A notice won't show when there is a change in the dom (Xpath case)"
**Describe the bug**
A notice won't show when there is a change in the dom.
Use case :
- When scrolling and the dom loads further elements while you scroll
- When clicking on a button that contextually change the dom

**To Reproduce**
Steps to reproduce the behavior:
1. With Dismoi - staging
2. got to [https://www.darty.com/nav/extra/offres?codic=4738454#state_0](https://www.darty.com/nav/extra/of